<ul class="catalog">
    <li class="catalog-item">

        <div class="catalog-item-img">
            <a href="#"><img src="img/example/img-cat.jpg" alt="">
                <span class="quick-view">QUICK VIEW</span></a>
        </div>
        <div class="catalog-item-info">
            Name item<br>
            $ 350
        </div>

        <div class="favorite favorite-mini">
            <svg class="icon-favorite" viewBox="0 0 91.97 79.99">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-favorite"></use>
            </svg>
        </div>
        <div class="close-box">
            <svg class="icon-cross" viewBox="0 0 91.89 94.03">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-cross"></use>
            </svg>
        </div>
    </li>
    <li class="catalog-item">

        <div class="catalog-item-img">
            <a href="#"><img src="img/example/img-cat-2.jpg" alt="">
                <span class="quick-view">QUICK VIEW</span></a>
        </div>
        <div class="catalog-item-info">
            Name item<br>
            $ 350
        </div>

        <div class="favorite favorite-mini">
            <svg class="icon-favorite" viewBox="0 0 91.97 79.99">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-favorite"></use>
            </svg>
        </div>
        <div class="close-box">
            <svg class="icon-cross" viewBox="0 0 91.89 94.03">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-cross"></use>
            </svg>
        </div>
    </li>
    <li class="catalog-item">

        <div class="catalog-item-img">
            <a href="#"><img src="img/example/img-cat-3.jpg" alt="">
                <span class="quick-view">QUICK VIEW</span></a>
        </div>
        <div class="catalog-item-info">
            Name item<br>
            $ 350
        </div>

        <div class="favorite favorite-mini">
            <svg class="icon-favorite" viewBox="0 0 91.97 79.99">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-favorite"></use>
            </svg>
        </div>
        <div class="close-box">
            <svg class="icon-cross" viewBox="0 0 91.89 94.03">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-cross"></use>
            </svg>
        </div>
    </li>
    <li class="catalog-item">

        <div class="catalog-item-img">
            <a href="#"><img src="img/example/img-cat-3.jpg" alt="">
                <span class="quick-view">QUICK VIEW</span></a>
        </div>
        <div class="catalog-item-info">
            Name item<br>
            $ 350
        </div>

        <div class="favorite favorite-mini">
            <svg class="icon-favorite" viewBox="0 0 91.97 79.99">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-favorite"></use>
            </svg>
        </div>
        <div class="close-box">
            <svg class="icon-cross" viewBox="0 0 91.89 94.03">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-cross"></use>
            </svg>
        </div>
    </li>

    <li class="catalog-item">

        <div class="catalog-item-img">
            <a href="#"><img src="img/example/img-cat-4.jpg" alt="">
                <span class="quick-view">QUICK VIEW</span></a>
        </div>
        <div class="catalog-item-info">
            Name item<br>
            $ 350
        </div>

        <div class="favorite favorite-mini">
            <svg class="icon-favorite" viewBox="0 0 91.97 79.99">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-favorite"></use>
            </svg>
        </div>
        <div class="close-box">
            <svg class="icon-cross" viewBox="0 0 91.89 94.03">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-cross"></use>
            </svg>
        </div>
    </li>
    <li class="catalog-item">

        <div class="catalog-item-img">
            <a href="#"><img src="img/example/img-cat-5.jpg" alt="">
                <span class="quick-view">QUICK VIEW</span></a>
        </div>
        <div class="catalog-item-info">
            Name item<br>
            $ 350
        </div>

        <div class="favorite favorite-mini">
            <svg class="icon-favorite" viewBox="0 0 91.97 79.99">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-favorite"></use>
            </svg>
        </div>
        <div class="close-box">
            <svg class="icon-cross" viewBox="0 0 91.89 94.03">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-cross"></use>
            </svg>
        </div>
    </li>
    <li class="catalog-item">

        <div class="catalog-item-img">
            <a href="#"><img src="img/example/img-cat-6.jpg" alt="">
                <span class="quick-view">QUICK VIEW</span></a>
        </div>
        <div class="catalog-item-info">
            Name item<br>
            $ 350
        </div>

        <div class="favorite favorite-mini">
            <svg class="icon-favorite" viewBox="0 0 91.97 79.99">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-favorite"></use>
            </svg>
        </div>
        <div class="close-box">
            <svg class="icon-cross" viewBox="0 0 91.89 94.03">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-cross"></use>
            </svg>
        </div>
    </li>
    <li class="catalog-item">

        <div class="catalog-item-img">
            <a href="#"><img src="img/example/img-cat-6.jpg" alt="">
                <span class="quick-view">QUICK VIEW</span></a>
        </div>
        <div class="catalog-item-info">
            Name item<br>
            $ 350
        </div>

        <div class="favorite favorite-mini">
            <svg class="icon-favorite" viewBox="0 0 91.97 79.99">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-favorite"></use>
            </svg>
        </div>
        <div class="close-box">
            <svg class="icon-cross" viewBox="0 0 91.89 94.03">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-cross"></use>
            </svg>
        </div>
    </li>

    <li class="catalog-item">

        <div class="catalog-item-img">
            <a href="#"><img src="img/example/img-cat-7.jpg" alt="">
                <span class="quick-view">QUICK VIEW</span></a>
        </div>
        <div class="catalog-item-info">
            Name item<br>
            $ 350
        </div>

        <div class="favorite favorite-mini">
            <svg class="icon-favorite" viewBox="0 0 91.97 79.99">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-favorite"></use>
            </svg>
        </div>
        <div class="close-box">
            <svg class="icon-cross" viewBox="0 0 91.89 94.03">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-cross"></use>
            </svg>
        </div>
    </li>
    <li class="catalog-item">

        <div class="catalog-item-img">
            <a href="#"><img src="img/example/img-cat-8.jpg" alt="">
                <span class="quick-view">QUICK VIEW</span></a>
        </div>
        <div class="catalog-item-info">
            Name item<br>
            $ 350
        </div>

        <div class="favorite favorite-mini">
            <svg class="icon-favorite" viewBox="0 0 91.97 79.99">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-favorite"></use>
            </svg>
        </div>
        <div class="close-box">
            <svg class="icon-cross" viewBox="0 0 91.89 94.03">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-cross"></use>
            </svg>
        </div>
    </li>
    <li class="catalog-item">

        <div class="catalog-item-img">
            <a href="#"><img src="img/example/img-cat-9.jpg" alt="">
                <span class="quick-view">QUICK VIEW</span></a>
        </div>
        <div class="catalog-item-info">
            Name item<br>
            $ 350
        </div>

        <div class="favorite favorite-mini">
            <svg class="icon-favorite" viewBox="0 0 91.97 79.99">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-favorite"></use>
            </svg>
        </div>
        <div class="close-box">
            <svg class="icon-cross" viewBox="0 0 91.89 94.03">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-cross"></use>
            </svg>
        </div>
    </li>
    <li class="catalog-item">

        <div class="catalog-item-img">
            <a href="#"><img src="img/example/img-cat-9.jpg" alt="">
                <span class="quick-view">QUICK VIEW</span></a>
        </div>
        <div class="catalog-item-info">
            Name item<br>
            $ 350
        </div>

        <div class="favorite favorite-mini">
            <svg class="icon-favorite" viewBox="0 0 91.97 79.99">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-favorite"></use>
            </svg>
        </div>
        <div class="close-box">
            <svg class="icon-cross" viewBox="0 0 91.89 94.03">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-cross"></use>
            </svg>
        </div>
    </li>
</ul>
