<nav class="nav-second">
    <ul class="nav-second-menu">
        <li><a href="#">main</a></li>
        <li><a href="#">CLOTHES</a></li>
        <li><a href="#">clothes</a></li>
    </ul>
    <ul class="social">
        <li class="text">
            SEND TO FRIENDS
        </li>
        <li class="messenger"><a href="#">
            <svg class="icon-messenger" viewBox="0 0 92 93">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#share_messenger"></use>
            </svg>
        </a></li>
        <li class="gp"><a href="#">
            <svg class="g-plus icon" viewBox="0 0 89.99 63.08">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#g-plus"></use>
            </svg>
        </a></li>
        <li class="pr"><a href="#">
            <svg class="pinterest icon" viewBox="0 0 88.98 91.07">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#pinterest"></use>
            </svg>
        </a></li>
        <li class="fb"><a href="#">
            <svg class="facebook icon" viewBox="0 0 91.98 89.95">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use>
            </svg>
        </a></li>
        <li class="tw"><a href="#">
            <svg class="twitter icon" viewBox="0 0 90.93 73.02">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use>
            </svg>
        </a></li>
        <li class="tumblr"><a href="#">
            <svg class="tumbler icon" viewBox="0 0 89.99 87.95">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tumbler"></use>
            </svg>
        </a></li>
        <li class="letter"><a href="#">
            <svg class="letter-email icon" viewBox="0 0 90.01 64.04">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#letter-email"></use>
            </svg>
        </a></li>
        <li class="social-share"><a href="#">
            <svg class="icon-share" viewBox="0 0 92 92">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-share"></use>
            </svg>
        </a></li>
    </ul>
</nav>
