<div class="sorting-goods">
    <ul class="sort-views">
        <li class="grid-big">
            <svg class="icon-sort-big" viewBox="0 0 92 86">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-sort-big"></use>
            </svg>
        </li>
        <li class="grid active">
            <svg class="icon-sort-small" viewBox="0 0 92 85">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-sort-small"></use>
            </svg>
        </li>
    </ul>
    <select class="sorting currency-select">
        <option value="">SORT BY</option>
        <option value="eur">€ eur</option>
    </select>
</div>
