<div class="filter-group" id="accordion" role="tablist" aria-multiselectable="true">
    <span class="filter-group-close icon-left"></span>
    <div class="filter filter-default">
        <div class="filter-heading" role="tab" id="headingOne" data-toggle="collapse"
             data-parent="#accordion"
             data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">

            <span class="title">CATEGORY</span>
            <span class="icon icon-down"></span>
            <span class="icon icon-up"></span>
        </div>
        <div id="collapseOne" class="filter-collapse collapse in" role="tabpanel"
             aria-labelledby="headingOne">
            <div class="filter-body">
                <ul>
                    <li><a href="#">Hoodies/Sweaters</a></li>
                    <li><a href="#">Sets</a></li>
                    <li><a href="#">Dresses</a></li>
                    <li><a href="#">Skirts</a></li>
                    <li><a href="#">Jeans</a></li>
                    <li><a href="#">Shorts</a></li>
                    <li><a href="#">Jumpsuits / Playsuits</a></li>
                    <li><a href="#">Swimwear / Beachwear</a></li>
                    <li><a href="#">Jackets / Coats</a></li>
                    <li><a href="#">Tees / Jersey Tops</a></li>
                    <li><a href="#">Cardigans</a></li>
                    <li><a href="#">Tops/Shirts</a></li>
                </ul>
                <div class="show-more">
                    <span class="icon-down"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="filter filter-default">
        <div class="filter-heading" role="tab" id="headingTwo" data-toggle="collapse"
             data-parent="#accordion"
             data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <span class="title">TYPE</span>
            <span class="icon icon-down"></span>
            <span class="icon icon-up"></span>
        </div>
        <div id="collapseTwo" class="filter-collapse collapse in" role="tabpanel"
             aria-labelledby="headingTwo">
            <div class="filter-body">
                <ul>
                    <li><a href="#">Casual</a></li>
                    <li><a href="#">Bodycon</a></li>
                    <li><a href="#">Occasion</a></li>
                    <li><a href="#">Overralls</a></li>
                    <li><a href="#">MiniParty</a></li>
                    <li><a href="#">Evening Dresses</a></li>
                    <li><a href="#">Going Out</a></li>
                    <li><a href="#">Work Dresses</a></li>
                    <li><a href="#">Cocktail Dresses</a></li>
                    <li><a href="#">Evening Gown</a></li>
                    <li><a href="#">Going Out</a></li>
                    <li><a href="#">Casual Dresses</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="filter filter-default">
        <div class="filter-heading" role="tab" id="headingThree" data-toggle="collapse"
             data-parent="#accordion"
             data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <span class="title">SIZE</span>
            <span class="icon icon-down"></span>
            <span class="icon icon-up"></span>
        </div>
        <div id="collapseThree" class="filter-collapse collapse in" role="tabpanel"
             aria-labelledby="headingThree">
            <div class="filter-body">
                <ul>
                    <li><a href="#">Casual</a></li>
                    <li><a href="#">Bodycon</a></li>
                    <li><a href="#">Occasion</a></li>
                    <li><a href="#">Overralls</a></li>
                    <li><a href="#">MiniParty</a></li>
                    <li><a href="#">Evening Dresses</a></li>
                    <li><a href="#">Going Out</a></li>
                    <li><a href="#">Work Dresses</a></li>
                    <li><a href="#">Cocktail Dresses</a></li>
                    <li><a href="#">Evening Gown</a></li>
                    <li><a href="#">Going Out</a></li>
                    <li><a href="#">Casual Dresses</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="filter filter-default">
        <div class="filter-heading" role="tab" id="headingFo" data-toggle="collapse" data-parent="#accordion"
             data-target="#collapseFo" aria-expanded="false" aria-controls="collapseFo">
            <span class="title">COLOR</span>
            <span class="icon icon-down"></span>
            <span class="icon icon-up"></span>
        </div>
        <div id="collapseFo" class="filter-collapse collapse in" role="tabpanel"
             aria-labelledby="headingFo">
            <div class="filter-body">
                <ul>
                    <li><a href="#">Casual</a></li>
                    <li><a href="#">Bodycon</a></li>
                    <li><a href="#">Occasion</a></li>
                    <li><a href="#">Overralls</a></li>
                    <li><a href="#">MiniParty</a></li>
                    <li><a href="#">Evening Dresses</a></li>
                    <li><a href="#">Going Out</a></li>
                    <li><a href="#">Work Dresses</a></li>
                    <li><a href="#">Cocktail Dresses</a></li>
                    <li><a href="#">Evening Gown</a></li>
                    <li><a href="#">Going Out</a></li>
                    <li><a href="#">Casual Dresses</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
