<footer class="footer-page">
    <div class="footer-info">
        <div class="container">
            <div class="logo">
                <a href="#" class="icon-logo_bottom"></a>
            </div>

            <div class="footer-nav">
                <ul class="column">
                    <li><a href="#">MAIN</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
                <ul class="column">
                    <li><a href="">My Account</a></li>
                    <li><a href="#">Returns & Exchanges</a></li>
                    <li><a href="#">SIZE CHART</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Terms & Condition</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
                <ul class="column">
                    <li><a href="#">What’s new</a></li>
                    <li><a href="#">clothes</a></li>
                    <li><a href="#">Swimwear</a></li>
                    <li><a href="#">Accessories</a></li>
                    <li><a href="#">my favorits</a></li>
                    <li class="sale"><a href="#">SALE</a></li>
                    <li><a href="#">GIFT</a></li>
                </ul>
            </div>

            <div class="sign-up">
                <form action="/">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="enter email">
                    </div>
                    <div class="button-area">
                        <button class="button button-black">SIGN UP</button>
                        <span>SIGN UP FOR SPECIAL DEALS</span>
                    </div>
                </form>
                <ul class="payment-logo">
                    <li><img src="img/pay-visa.png" alt=""></li>
                    <li><img src="img/pay-mcard.png" alt=""></li>
                    <li><img src="img/pay-maestro.png" alt=""></li>
                    <li><img src="img/pay-jcb.png" alt=""></li>
                    <li><img src="img/pay-pal.png" alt=""></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-bottom container">
        <div class="copy">©2016 fabfoxx</div>
        <div class="stay-connected">
            <div class="stay-connected-title">STAY CONNECTED</div>

            <!-- include "templates/footer-social.html" -->

        </div>
        <div class="developer">by jetmour</div>
    </div>

    <div class="to-up">
        <span class="icon-up"></span>
    </div>
</footer>
