<div class="history-open-details">
    <div class="modal fade" id="history-open-details" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="close close-default" data-dismiss="modal" aria-label="Close">
                    <span class="icon-close"></span>
                </div>

                <div class="modal-header">
                    <span class="icon-bag"></span>
                    <div class="title">Purchase history / <span>canceled</span></div>
                </div>
                <ul class="catalog">
                    <li class="catalog-item">
                        <div class="catalog-item-img">
                            <img src="img/example/img-cat.jpg" alt="">
                        </div>
                        <div class="catalog-item-info">
                            Name item<br>
                            $ 350
                        </div>
                    </li>
                    <li class="catalog-item">
                        <div class="catalog-item-img">
                            <img src="img/example/img-cat-2.jpg" alt="">
                        </div>
                        <div class="catalog-item-info">
                            Name item<br>
                            $ 350
                        </div>
                    </li>

                    <li class="catalog-item">
                        <div class="catalog-item-img">
                            <img src="img/example/img-cat-3.jpg" alt="">
                        </div>
                        <div class="catalog-item-info">
                            Name item<br>
                            $ 350
                        </div>
                    </li>
                    <li class="catalog-item">
                        <div class="catalog-item-img">
                            <img src="img/example/img-cat-4.jpg" alt="">
                        </div>
                        <div class="catalog-item-info">
                            Name item<br>
                            $ 350
                        </div>
                    </li>
                    <li class="catalog-item">
                        <div class="catalog-item-img">
                            <img src="img/example/img-cat-5.jpg" alt="">
                        </div>
                        <div class="catalog-item-info">
                            Name item<br>
                            $ 350
                        </div>
                    </li>
                    <li class="catalog-item">
                        <div class="catalog-item-img">
                            <img src="img/example/img-cat-6.jpg" alt="">
                        </div>
                        <div class="catalog-item-info">
                            Name item<br>
                            $ 350
                        </div>
                    </li>
                    <li class="catalog-item">
                        <div class="catalog-item-img">
                            <img src="img/example/img-cat-7.jpg" alt="">
                        </div>
                        <div class="catalog-item-info">
                            Name item<br>
                            $ 350
                        </div>
                    </li>
                    <li class="catalog-item">
                        <div class="catalog-item-img">
                            <img src="img/example/img-cat-8.jpg" alt="">
                        </div>
                        <div class="catalog-item-info">
                            Name item<br>
                            $ 350
                        </div>
                    </li>
                    <li class="catalog-item">
                        <div class="catalog-item-img">
                            <img src="img/example/img-cat-9.jpg" alt="">
                        </div>
                        <div class="catalog-item-info">
                            Name item<br>
                            $ 350
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
