<div class="home-catalog">
    <div class="home-catalog-big">
        <div class="home-catalog-image"><a href="#"><img src="img/example/img-catalog.jpg" alt=""></a></div>
        <div class="description grey-color">
            <h4 class="title">Legins</h4>
            <p class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum varius, ante eget luctus tempor,
                diam tortor tempus enim, non malesuada sem lorem vel est. Maecenas augue sem, euismod quis enim ut,
                volutpat aliquet augue. Cras vulputate euismod felis vitae congue. Fusce id tempor justo, nec
                ullamcorper tellus. Donec interdum nisi ac eros tempor, ac efficitur ex fringilla. Duis varius eu
                arcu
                tempus consequat. Phasellus scelerisque
            </p>
            <a href="#" class="catalog-show-more button button-default">SHOW MORE</a>
        </div>
    </div>
    <div class="columns">
        <div class="columns-img">
            <div class="home-catalog-big">
                <div class="description marl-color">
                    <h4 class="title">Legins</h4>
                    <p class="text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum varius, ante eget luctus
                        tempor, diam tortor tempus enim, non malesuada sem lorem vel est. Maecenas augue sem,
                        euismod quis enim ut, volutpat aliquet augue. Cras vulputate euismod felis vitae congue.
                        Fusce id tempor justo, nec ullamcorper tellus. Donec
                    </p>
                    <a href="#" class="catalog-show-more button button-default">SHOW MORE</a>
                </div>
                <div class="home-catalog-image"><a href="#"><img src="img/example/img-catalog-2.jpg" alt=""></a>
                </div>
            </div>
            <ul class="instagram-block">
                <li><a href="#">
                    <img src="img/example/img-instagram.jpg" alt="">
                        <span class="overflow">
                            <span class="icon-instagram"></span>
                        </span>
                </a></li>
                <li><a href="#">
                    <img src="img/example/img-instagram-2.jpg" alt="">
                        <span class="overflow">
                            <span class="icon-instagram"></span>
                        </span>
                </a></li>
                <li><a href="#">
                    <img src="img/example/img-instagram-3.jpg" alt="">
                        <span class="overflow">
                            <span class="icon-instagram"></span>
                        </span>
                </a></li>
            </ul>
        </div>
        <figure class="columns-single">
            <a href="#"><img src="img/example/img-catalog-3.jpg" alt=""></a>
            <figcaption>Accessories</figcaption>
        </figure>
    </div>
    <div class="home-catalog-big">
        <div class="description item-third light-cyan-color">
            <h4 class="title">SWIMWEAR</h4>
            <p class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum varius, ante eget luctus tempor,
                diam tortor tempus enim, non malesuada sem lorem vel est. Maecenas augue sem, euismod quis enim ut,
                volutpat aliquet augue. Cras vulputate euismod felis vitae congue. Fusce id tempor justo, nec
                ullamcorper tellus. Donec interdum nisi ac eros tempor, ac efficitur ex fringilla. Duis varius eu
                arcu tempus consequat. Phasellus scelerisque
            </p>
            <a href="#" class="catalog-show-more button button-default">SHOW MORE</a>
        </div>
        <div class="home-catalog-image"><a href="#"><img src="img/example/img-catalog-4.jpg" alt=""></a></div>
    </div>
</div>
