<nav class="nav-area">
    <div class="logo">
        <a href="#">
            <svg class="logo-short" viewBox="0 0 53 49">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo-short"></use>
            </svg>
        </a>
    </div>

    <div class="favorite favorite-mini">
        <span class="icon-favorites"></span>
    </div>

    <ul class="main-menu">
        <li><a href="#">MAIN</a></li>
        <li><a href="#">What’s new</a></li>
        <li class="main-menu-parent">
            <a href="#">clothes</a>
            <ul class="child">
                <li>
                    <a href="#">Hoodies/Sweaters</a>
                    <div class="category-img">
                        <img src="img/example/img-menu-2.jpg" alt="">
                    </div>
                </li>
                <li>
                    <a href="#">Dresses</a>
                    <div class="category-img">
                        <img src="img/example/img-menu.jpg" alt="">
                    </div>
                </li>
                <li>
                    <a href="#">Jeans</a>
                    <div class="category-img">
                        <img src="img/example/img-menu-3.jpg" alt="">
                    </div>
                </li>
                <li>
                    <a href="#">Jumpsuits / Playsuits</a>
                    <div class="category-img">
                        <img src="img/example/img-menu.jpg" alt="">
                    </div>
                </li>
                <li><a href="#">Jackets / Coats</a></li>
                <li><a href="#">Cardigans</a></li>
                <li><a href="#">Sets</a></li>
                <li><a href="#">Skirts</a></li>
                <li><a href="#">Shorts</a></li>
                <li><a href="#">Swimwear / Beachwear</a></li>
                <li><a href="#">Tees / Jersey Tops</a></li>
                <li><a href="#">Tops/Shirts</a></li>
                <li><a href="#">Trousers / Leggings</a></li>
            </ul>
        </li>
        <li class="main-menu-parent">
            <a href="#">Swimwear</a>
            <ul class="child">
                <li>
                    <a href="#">Hoodies/Sweaters</a>
                    <div class="category-img">
                        <img src="img/example/img-menu-2.jpg" alt="">
                    </div>
                </li>
                <li>
                    <a href="#">Dresses</a>
                    <div class="category-img">
                        <img src="img/example/img-menu.jpg" alt="">
                    </div>
                </li>
                <li>
                    <a href="#">Jeans</a>
                    <div class="category-img">
                        <img src="img/example/img-menu-3.jpg" alt="">
                    </div>
                </li>
                <li>
                    <a href="#">Jumpsuits / Playsuits</a>
                    <div class="category-img">
                        <img src="img/example/img-menu.jpg" alt="">
                    </div>
                </li>
                <li><a href="#">Jackets / Coats</a></li>
                <li><a href="#">Cardigans</a></li>
                <li><a href="#">Sets</a></li>
                <li><a href="#">Skirts</a></li>
                <li><a href="#">Shorts</a></li>
                <li><a href="#">Swimwear / Beachwear</a></li>
                <li><a href="#">Tees / Jersey Tops</a></li>
                <li><a href="#">Tops/Shirts</a></li>
                <li><a href="#">Trousers / Leggings</a></li>
            </ul>
        </li>
        <li class="main-menu-parent">
            <a href="#">Accessories</a>
            <ul class="child">
                <li>
                    <a href="#">Hoodies/Sweaters</a>
                    <div class="category-img">
                        <img src="img/example/img-menu-2.jpg" alt="">
                    </div>
                </li>
                <li>
                    <a href="#">Dresses</a>
                    <div class="category-img">
                        <img src="img/example/img-menu.jpg" alt="">
                    </div>
                </li>
                <li>
                    <a href="#">Jeans</a>
                    <div class="category-img">
                        <img src="img/example/img-menu-3.jpg" alt="">
                    </div>
                </li>
                <li>
                    <a href="#">Jumpsuits / Playsuits</a>
                    <div class="category-img">
                        <img src="img/example/img-menu.jpg" alt="">
                    </div>
                </li>
                <li><a href="#">Jackets / Coats</a></li>
                <li><a href="#">Cardigans</a></li>
                <li><a href="#">Sets</a></li>
                <li><a href="#">Skirts</a></li>
                <li><a href="#">Shorts</a></li>
                <li><a href="#">Swimwear / Beachwear</a></li>
                <li><a href="#">Tees / Jersey Tops</a></li>
                <li><a href="#">Tops/Shirts</a></li>
                <li><a href="#">Trousers / Leggings</a></li>
            </ul>
        </li>
        <li class="sale"><a href="#">SALE</a></li>
        <li><a href="#">GIFT</a></li>
        <li class="nav-area-search"><a href="#">SERCH</a></li>
    </ul>

    <div class="info-panel">
        <ul class="user">
            <li><a href="#">MY PROFILE</a></li>
        </ul>
        <div class="basket-count" data-count="5">
            <span class="icon-bag"></span>
        </div>
    </div>
</nav>
