<nav class="nav-second">
    <ul class="nav-second-menu">
        <li><a href="#">main</a></li>
        <li><a href="#">CLOTHES</a></li>
        <li><a href="#">clothes</a></li>
    </ul>
    <ul class="social social-nav">
        <li class="text">
            SEND TO FRIENDS
        </li>
        <li class="messenger"><a href="#" class="icon icon-messenger"></a></li>
        <li class="gp"><a href="#" class="icon icon-google"></a></li>
        <li class="pr"><a href="#" class="icon icon-pinterest"></a></li>
        <li class="fb"><a href="#" class="icon icon-facebook"></a></li>
        <li class="tw"><a href="#" class="icon icon-twitter"></a></li>
        <li class="tumblr"><a href="#" class="icon icon-tumbler"></a></li>
        <li class="letter"><a href="#" class="icon icon-email"></a></li>
        <li class="social-share">
            <span class="icon-share"></span>
        </li>
    </ul>
</nav>
