<div class="preview-bag">
    <div class="modal fade" id="preview-bag" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="close close-box" data-dismiss="modal" aria-label="Close">
                    <span class="icon-close"></span>
                </div>

                <div class="modal-header">
                    <svg class="bag-icon" viewBox="0 0 60.4 92">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#bag-icon"></use>
                    </svg>
                    <div class="button-group">
                        <button class="button button-black">checkout</button>
                        <button class="button button-black">VIEW BAG</button>
                    </div>
                    <div class="total"><span>5 items</span> Total: $ 339.1</div>
                </div>
                <div class="modal-body">
                    <p>Product was successfully added to the shopping bag or You can continue to shopping or go to
                        checkout </p>

                    <ul class="catalog">
                        <li class="catalog-item">
                            <div class="catalog-item-img">
                                <a href="#"><img src="img/example/img-cat.jpg" alt="">
                                    <span class="quick-view">QUICK VIEW</span></a>
                            </div>
                        </li>
                        <li class="catalog-item">
                            <div class="catalog-item-img">
                                <a href="#"><img src="img/example/img-cat-2.jpg" alt="">
                                    <span class="quick-view">QUICK VIEW</span></a>
                            </div>
                        </li>

                        <li class="catalog-item">
                            <div class="catalog-item-img">
                                <a href="#"><img src="img/example/img-cat-3.jpg" alt="">
                                    <span class="quick-view">QUICK VIEW</span></a>
                            </div>
                        </li>
                        <li class="catalog-item">
                            <div class="catalog-item-img">
                                <a href="#"><img src="img/example/img-cat-4.jpg" alt="">
                                    <span class="quick-view">QUICK VIEW</span></a>
                            </div>
                        </li>
                        <li class="catalog-item">
                            <div class="catalog-item-img">
                                <a href="#"><img src="img/example/img-cat-5.jpg" alt="">
                                    <span class="quick-view">QUICK VIEW</span></a>
                            </div>
                        </li>
                        <li class="catalog-item">
                            <div class="catalog-item-img">
                                <a href="#"><img src="img/example/img-cat-6.jpg" alt="">
                                    <span class="quick-view">QUICK VIEW</span></a>
                            </div>
                        </li>
                    </ul>

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
