<div class="recently-viewed">
    <h3 class="recently-viewed-title"><span class="text">Recently viewed</span></h3>
    <div class="owl-carousel">
        <div class="item">
            <a href="#"><img src="img/example/img-carousel.jpg" alt=""></a>
        </div>
        <div class="item">
            <a href="#"><img src="img/example/img-carousel-2.jpg" alt=""></a>
        </div>
        <div class="item">
            <a href="#"><img src="img/example/img-carousel-3.jpg" alt=""></a>
        </div>
        <div class="item">
            <a href="#"><img src="img/example/img-carousel-4.jpg" alt=""></a>
        </div>
        <div class="item">
            <a href="#"><img src="img/example/img-carousel-5.jpg" alt=""></a>
        </div>
        <div class="item">
            <a href="#"><img src="img/example/img-carousel-6.jpg" alt=""></a>
        </div>
        <div class="item">
            <a href="#"><img src="img/example/img-carousel-7.jpg" alt=""></a>
        </div>
        <div class="item">
            <a href="#"><img src="img/example/img-carousel-8.jpg" alt=""></a>
        </div>
        <div class="item">
            <a href="#"><img src="img/example/img-carousel-9.jpg" alt=""></a>
        </div>
        <div class="item">
            <a href="#"><img src="img/example/img-carousel-10.jpg" alt=""></a>
        </div>
        <div class="item">
            <a href="#"><img src="img/example/img-carousel-5.jpg" alt=""></a>
        </div>
        <div class="item">
            <a href="#"><img src="img/example/img-carousel-6.jpg" alt=""></a>
        </div>
        <div class="item">
            <a href="#"><img src="img/example/img-carousel-2.jpg" alt=""></a>
        </div>
        <div class="item">
            <a href="#"><img src="img/example/img-carousel-8.jpg" alt=""></a>
        </div>
    </div>
</div>
