<form action="#" class="search-area">
    <div class="wrap">
        <input type="search" placeholder="Type what you are looking for" class="search-area-input">
    </div>
    <div class="search-area-close">
        <span class="icon-close"></span>
    </div>

    <div class="search-results">
        <ul class="search-list">
            <li><a href="#"><span>Dresses</span><span>15,450</span></a></li>
            <li><a href="#"><span>Dresses  black, white</span><span>15,450</span></a></li>
            <li class="active"><a href="#"><span>Dresses  curve</span><span>15,450</span></a></li>
            <li><a href="#"><span>Dresses  evening</span><span>15,450</span></a></li>
            <li><a href="#"><span>Dresses  party</span><span>15,450</span></a></li>
            <li><a href="#"><span>Dresses  tall</span><span>15,450</span></a></li>
        </ul>
        <div class="blur"></div>
    </div>
</form>
