<header class="top-panel">
    <div>
        <span class="top-icon-menu burger-menu"></span>

        <a href="#" class="logo">
            <img src="img/logo.png" alt="">
            <span class="icon-short_logo"></span>
        </a>
    </div>

    <div class="favorite">
        <span class="icon-favorites"></span>
    </div>

    <div class="top-panel-info">
        <div class="top">
            <ul class="user">
                <li><a href="#">REGISTER</a></li>
                <li><a href="#">SIGN IN</a></li>
            </ul>
            <select class="currency-select">
                <option value="usd">$ usd</option>
                <option value="eur">€ eur</option>
            </select>
        </div>
        <ul class="top-basket">
            <li>
                <div class="amount">5 item(s) - $530.00</div>
                <a href="#" class="checkout">CHECKOUT</a>
            </li>
            <li class="basket-count" data-count="5">
                <span class="icon-bag"></span>
            </li>
        </ul>
    </div>
</header>
