@import 'lib/breakpoint';
@import 'lib/breakpoint-slicer';
@import "partials/mixin";
@import "partials/fonts";
@import "partials/common";
@import "partials/checkbox-custom";
@import "partials/radio-custom";
@import "partials/buttons";
@import "partials/form";
// Blocks
@import "partials/social";
@import "partials/instagram-block";
@import "partials/stay-connected";
@import "partials/favorite";
@import "partials/top-panel";
@import "partials/nav-area";
@import "partials/search-area";
@import "partials/slider-loop";
@import "partials/delivery-panel";
@import "partials/home-catalog";
@import "partials/recently-viewed";
@import "partials/footer";
@import "partials/nav-second";
@import "partials/filter-group";
@import "partials/header-page";
@import "partials/catalog";
@import "partials/main-catalog";

.product-page {
  display: flex;
}

.left-column {
  .header-page-title {
    top: auto;
    padding: 19px 22px 14px 0;
    letter-spacing: 0;
    font-size: 25px;
  }
}

.search-title {
  margin: 13px 0 0 -39px;
  font-size: 24px;
  letter-spacing: 2.5px;
  & + .sorting-goods {
    margin-top: 8px;
  }
}

.page-content {
  .content {
    width: 921px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 42px;
    background-color: #fff;
    font-weight: 300;
    font-family: $RobotoCondensed;
    p {
      line-height: 23px;
      margin-bottom: 24px;
    }
  }
}

.page-about {
  padding-top: 248px;
  background: url("../img/example/img-page.jpg") no-repeat top center;
  .content {
    padding-bottom: 45px;
    border-top: 1px solid;
    box-shadow: 10px 10px 0 0 rgba(0, 0, 0, .03);
  }
  .header-page-title {
    padding: 0 15px 0 0;
    position: relative;
    margin-top: -14px;
    transform: translateY(-161px);
    span {
      transform: translateX(-60%);
    }
  }
  .feedback-form {
    float: left;
    width: 570px;
    margin-right: 45px;
  }
  .contacts-block {
    padding-top: 55px;
  }
}

.contacts-block {
  @include clearfix;
  &-info {
    padding-top: 50px;
    .logo-small {
      width: 75px;
      display: block;
      margin: 0 auto 35px;
      transition: .4s ease-in-out;
      &:hover {
        opacity: .8;
      }
    }
    .requisites {
      line-height: 26px;
      font-style: italic;
      font-weight: 400;
      color: #565656;
      font-family: $RobotoCondensed;
    }
  }
}

.contact-us {
  .header-page-title {
    margin-bottom: 28px;
    font-size: 25px;
    letter-spacing: 0;
    span {
      padding: 18px 22px 14px 0;
    }
  }
  p {
    margin-bottom: 21px;
    letter-spacing: -0.18px;
  }
  .form-group {
    margin-bottom: 17px;
  }
  .feedback-form-bottom {
    margin-top: -6px;
    .jq-selectbox__select {
      margin-bottom: 15px;
    }
  }
}
