.show_card_popup {
  overflow: hidden;
}

.card_popup_bg {
  background: rgba(255, 255, 255, .98);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 7px solid;
  .logo {
    position: absolute;
    top: 32px;
    left: 32px;
    .icon-short_logo {
      font-size: 55px;
    }
  }
  .card_arrow {
    top: 50%;
    width: 100%;
  }
  .card_popup {
    max-width: 855px;
    width: 100%;
    background: #fff;
    padding: 19px;
    position: relative;
    &:after {
      content: "";
      width: 11px;
      height: 100%;
      position: absolute;
      background: #F1F1F1;
      top: 11px;
      right: -11px;
    }
    &:before {
      content: "";
      width: 100%;
      height: 11px;
      position: absolute;
      background: #F1F1F1;
      bottom: -11px;
      left: 0;
    }
    .action_popup {
      position: absolute;
      top: -31px;
      right: 0;
      .action_popup_close {
        width: 30px;
        height: 31px;
        background: #000;
        cursor: pointer;
        text-align: center;
        float: right;
        position: relative;
        border: none;
        transition: all .2s;
        .icon-close {
          color: #fff;
          font-size: 14px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%)
        }
        &:hover {
          background: #fff;
          transition: all .2s;
          .icon-close {
            color: #000
          }
        }
      }
      .action_popup_turn {
        width: 30px;
        height: 31px;
        float: right;
        border: none;
        cursor: pointer;
        background: #fff url("../img/action_popup_turn.png") no-repeat center;
        transition: all .2s;
        &:hover {
          background: #000 url("../img/action_popup_turn_h.png") no-repeat center;
          transition: all .2s;
        }
      }
    }
    .card_wrap {
      max-width: 100%;
      width: 100%;
      margin: 0;
      .card_gallery {
        width: 415px;
        .photosgallery-vertical_p {
          width: 415px;
          border: 1px solid #EFEFEF;
          .sliderkit-panels_p {
            .sliderkit_price {
              width: 63px;
              height: 38px;
              line-height: 38px;
              color: #fff;
              background: #000;
              text-align: center;
              font-size: 20px;
              position: absolute;
              top: 55px;
              left: -21px;
              z-index: 99999;
              &:after {
                content: "";
                width: 5px;
                height: 100%;
                background: #E6E6E6;
                position: absolute;
                top: 4px;
                right: -5px;
              }
              &:before {
                content: "";
                width: 100%;
                height: 4px;
                background: #E6E6E6;
                position: absolute;
                bottom: -4px;
                left: 5px;
              }
            }
          }
        }
      }
    }
  }
}
