.checkbox-custom {
  display: none;
  + .checkbox-custom-view::before {
    width: 16px;
    height: 16px;
    margin: 2px 0 0 -26px;
    background-color: #fff;
    border: 1px solid #c4c4c3;
    content: '';
    position: absolute;
    line-height: normal;
  }
  &:checked {
    + .checkbox-custom-view {
      &::before {
        background-color: #b9b9b9;
      }
      &::after {
        border-bottom: 2px solid #fff;
        border-left: 2px solid #fff;
        content: '';
        display: block;
        height: 4px;
        top: 7px;
        left: 3px;
        position: absolute;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        width: 10px;
      }
    }
    .checkbox-custom-view::before {
      background-color: #F2F2F2;
    }
  }
}

.checkbox-custom-view {
  display: inline-block;
  cursor: pointer;
  padding-left: 26px;
  position: relative;
}
