$RobotoCondensed: 'Roboto Condensed', sans-serif;

$Roboto: 'Roboto', sans-serif;

html, body {
  width: 100%;
  height: 100%;
  @include BebasNeueRegular;
}

body {
  line-height: 1.4;
  font-size: 15px;
  color: #000;
  &:before {
    content: '';
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 7px;
    height: 100%;
    z-index: 50;
  }
  &:after {
    content: '';
    background-color: #000;
    position: fixed;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 8px;
    z-index: 51;
  }
}

a, .as-link {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.as-link {
  cursor: pointer;
}

.text {
  &-center {
    text-align: center
  }
  &-left {
    text-align: left
  }
  &-right {
    text-align: right
  }
  &-justify {
    text-align: justify
  }
  &-bold {
    font-weight: bold
  }
}

.pull {
  &-left {
    float: left;
  }
  &-right {
    float: left;
  }
}

.grey-color {
  @include color-block(#ececec);
}

.marl-color {
  @include color-block(#a45449);
}

.light-cyan-color {
  @include color-block(#38ebff);
}

.sale a {
  color: #f00
}

.wrapper {
  width: 100%;
  &:before {
    content: '';
    background-color: #000;
    position: fixed;
    top: 0;
    right: 0;
    width: 7px;
    height: 100%;
    z-index: 50;
  }
  &:after {
    content: '';
    background-color: #000;
    position: fixed;
    top: -1px;
    left: 0;
    width: 100%;
    height: 8px;
    z-index: 51;
  }
}

.container {
  width: 1206px;
  margin-left: auto;
  margin-right: auto;
}

.social {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
    vertical-align: top;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  svg {
    width: 18px;
    fill: #fff;
    transition: .3s ease;
  }
  .fb svg {
    width: 15px;
  }
  .yt {
    svg {
      width: 18px;
    }
  }
  .tumblr {
    svg {
      width: 14px;
    }
  }
  .gp {
    svg {
      width: 21px;
    }
  }
}

.favorite {
  position: absolute;
  cursor: pointer;
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0, .03);
  transition: .4s ease-in-out;
  svg {
    width: 20px;
  }
  &:hover {
    opacity: .9;
  }
  &-mini {
    padding: 0 4px 0 5px;
    svg {
      width: 13px;
    }
  }
}

.basket-count[data-count]:not([data-count='']):after {
  content: attr(data-count);
  font-size: 24px;
  display: inline;
}

.close-box {
  width: 22px;
  height: 22px;
  position: absolute;
  top: -7px;
  right: -5px;
  background-color: #000;
  cursor: pointer;
  transition: .4s ease-in-out;
  svg {
    width: 12px;
    vertical-align: middle;
    fill: #fff;
    transition: .4s ease-in-out;
  }
  &:hover {
    background-color: #efefef;
    svg {
      fill: #000;
    }
  }
}
