html, body {
  width: 100%;
  height: 100%;
  @include BebasNeueRegular;
}

body {
  line-height: 1.4;
  border: 7px solid;
  border-top-width: 0;
  font-size: 15px;
  color: #000;
  &:before {
    content: '';
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 7px;
    height: 100%;
    z-index: 50;
  }
}

a, .as-link {
  color: inherit;
  text-decoration: none;
}

.as-link {
  cursor: pointer;
}

img {
  max-width: 100%;
}

.text {
  &-center {
    text-align: center
  }
  &-left {
    text-align: left
  }
  &-right {
    text-align: right
  }
  &-justify {
    text-align: justify
  }
  &-bold {
    font-weight: bold
  }
}

.pull {
  &-left {
    float: left;
  }
  &-right {
    float: left;
  }
}
