//$BebasNeueRegular: 'BebasNeueRegular', sans-serif;
//$BebasNeueBold: "BebasNeueBold", sans-serif;
//$BebasNeueBook: 'BebasNeueBook', sans-serif;
//
//$CaviarDreams: 'CaviarDreams', sans-serif;
//$CaviarDreamsItalic: "CaviarDreams-BoldItalic", sans-serif;
//$CaviarDreams-Bold: "CaviarDreams-Bold", sans-serif;
//
//$RobotoCondensed: 'Roboto Condensed', sans-serif;
//$Roboto: 'Roboto', sans-serif;

html, body {
  width: 100%;
  height: 100%;
  @include BebasNeueRegular;
}

body {
  line-height: 1.4;
  border: 7px solid #000;
}

a, .as-link {
  color: inherit;
  text-decoration: none;
}

.as-link {
  cursor: pointer;
}

img {
  max-width: 100%;
}

.text {
  &-center {
    text-align: center
  }
  &-left {
    text-align: left
  }
  &-right {
    text-align: right
  }
  &-justify {
    text-align: justify
  }
  &-bold {
    font-weight: bold
  }
}

.pull {
  &-left {
    float: left;
  }
  &-right {
    float: left;
  }
}
