.delivery-panel {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 10px;
  font-weight: 300;
  font-family: $Roboto;
  display: flex;
  justify-content: space-between;
  li {
    width: calc(100% / 3);
    &:nth-child(2) {
      border-right: 1px solid #5a5a5a;
      border-left: 1px solid #5a5a5a;
    }
  }
  a {
    padding: 18px 0;
    color: #fff;
    background-color: #000;
    display: block;
    text-align: center;
    letter-spacing: .4px;
    transition: .4s ease-in-out;
    &:hover {
      background-color: #5a5a5a;
    }
  }
}
