.to-up {
  margin-left: -41px;
  position: fixed;
  bottom: 5px;
  left: 50%;
  border-bottom: 28px solid #000;
  width: 0;
  height: 0;
  border-right: 41px solid transparent;
  border-left: 41px solid transparent;
  cursor: pointer;
  z-index: 90;
  display: none;
  transition: .4s ease-in-out;
  .icon-up {
    position: absolute;
    top: 13px;
    left: -8px;
    font-size: 8px;
    color: #fff;
    transition: .3s ease;
  }
  &:hover {
    .icon-up {
      color: #ccc;
    }
  }
  &.fix {
    position: absolute;
    bottom: 118px;
  }
}

.footer {
  &-page {
    padding-top: 2px;
    background: #000;
    position: relative;
    .container {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &-nav {
    width: 56%;
    float: left;
    display: flex;
    justify-content: flex-end;
    .column {
      width: 25%;
      padding: 0 8% 0 0;
      min-height: 188px;
      margin: 0;
      list-style: none;
      font-size: 13px;
      text-transform: uppercase;
      @include MinionProRegular;
      @include to('s') {
        display: none;
      }
      &:not(:first-of-type) {
        width: 39%;
        padding-left: 25px;
        border-left: 1px solid;
      }
      li {
        letter-spacing: 1px;
        line-height: 1;
        &:not(:last-of-type) {
          margin-bottom: 17px;
        }
      }
    }
  }

  &-info {
    padding: 73px 0 75px;
    background-color: #efefef;
    .container {
      @include clearfix;
    }
    .logo {
      text-align: center;
      @include from('m') {
        width: 16%;
        margin-top: 53px;
        float: left;
        text-align: left;
      }
      .icon-logo_bottom {
        font-size: 84px;
      }
    }

    .sign-up {
      float: left;
      width: 28%;
      padding-left: 30px;
      min-height: 188px;
      border-left: 1px solid;
      @include to('s') {
        display: none;
      }
      .form-group {
        margin-bottom: 7px;
      }
      .button-area {
        margin-bottom: 35px;
        text-align: center;
        @include clearfix;
        .button {
          width: 97px;
          float: right;
          letter-spacing: 1.5px;
          padding: 13px 8px 10px;
          @include MinionProRegular;
        }
        span {
          display: block;
          height: 40px;
          line-height: 40px;
          color: #bdbdbd;
          font-size: 14px;
          letter-spacing: 1.5px;
        }
      }
      .payment-logo {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
      }
    }
  }

  &-bottom {
    height: 119px;
    padding-top: 30px;
    padding-bottom: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    @include from('m') {
      justify-content: space-between;
    }
    .copy, .developer {
      font-size: 12px;
      color: #777;
      letter-spacing: 2px;
      @include to('s') {
        display: none;
      }
    }
  }
}
