.to-up {
  margin-left: -22px;
  position: fixed;
  bottom: 5px;
  left: 50%;
  border-bottom: 27px solid #000;
  width: 0;
  height: 0;
  border-right: 37px solid transparent;
  border-left: 37px solid transparent;
  cursor: pointer;
  z-index: 90;
  display: none;
  transition: .4s ease-in-out;
  svg {
    position: absolute;
    top: 13px;
    left: -10px;
    width: 19px;
    fill: #fff;
    transition: .3s ease;
  }
  &:hover {
    svg {
      fill: #ccc;
    }
  }
  &.fix {
    position: absolute;
    bottom: 123px;
  }
}

footer {
  padding-top: 2px;
  background: #000;
  position: relative;
  .footer-info {
    padding: 73px 0 75px;
    background-color: #efefef;
    .container {
      @include clearfix;
    }
    .column {
      float: left;
      margin: 0;
      padding: 0;
      list-style: none;
      border-right: 1px solid;
      font-size: 13px;
      text-transform: uppercase;
      @include MinionProRegular;
      &:not(:first-of-type) {
        padding-left: 25px;
      }
      li {
        letter-spacing: 1px;
        line-height: 1;
        &:not(:last-of-type) {
          margin-bottom: 17px;
        }
      }
    }
    .logo {
      float: left;
      flex-basis: 70px;
      svg {
        width: 70px;
      }
    }
    .main-links {
      margin-left: 158px;
      padding-right: 54px;
      min-height: 188px;
    }
    .users-links {
      width: 274px;
    }
    .sale-links {
      width: 206px;
    }
    .sign-up {
      float: left;
      width: 332px;
      padding-left: 30px;
      .form-group {
        margin-bottom: 7px;
      }
      .button-area {
        margin-bottom: 35px;
        text-align: center;
        @include clearfix;
        .button {
          width: 97px;
          float: right;
          letter-spacing: 1.5px;
          padding: 8px;
        }
        span {
          display: block;
          height: 40px;
          line-height: 40px;
          color: #bdbdbd;
          font-size: 14px;
          letter-spacing: 1.5px;
        }
      }
      .payment-logo {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
      }
    }
  }
  .footer-bottom {
    padding-top: 30px;
    padding-bottom: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    .copy, .developer {
      font-size: 12px;
      color: #777;
      letter-spacing: 2px;
    }
  }
}
