.hide-placeholder::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.hide-placeholder::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.hide-placeholder:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.hide-placeholder:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.hide-placeholder:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.hide-placeholder:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.hide-placeholder:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.hide-placeholder:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.form {
  &-group {
    margin-bottom: 10px;
    position: relative;
    textarea.form-control {
      height: auto;
      min-height: 100px;
      resize: vertical;
    }
  }
  &-control {
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    font-size: 14px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d2d2d2;
    font-family: $Roboto;
    font-style: italic;
    color: #979797;
    transition: all ease-in-out .3s;
    &:focus {
      outline: 0;
      + label {
        top: -13px;
        font-size: 12px;
        opacity: 1;
        left: 0;
        padding: 1px 2px;
        background-color: #000;
      }
    }
  }
  &-label {
    margin: 0;
    display: inline-block;
    max-width: 100%;
    position: absolute;
    top: 9px;
    left: 15px;
    font-style: italic;
    font-weight: 300;
    font-size: 13px;
    opacity: 0;
    transition: all ease-in-out .5s;
  }
}
