.hide-placeholder::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.hide-placeholder::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.hide-placeholder:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.hide-placeholder:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.hide-placeholder:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.hide-placeholder:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.hide-placeholder:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.hide-placeholder:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.form {
  &-group {
    margin-bottom: 6px;
    position: relative;
  }
  &-control {
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 15px 0 18px;
    font-size: 14px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d2d2d2;
    font-family: $Roboto;
    font-style: italic;
    color: #979797;
    transition: all ease-in-out .3s;
    &:focus {
      outline: 0;
      + label {
        top: -13px;
        font-size: 12px;
        opacity: 1;
        visibility: visible;
        left: 0;
        padding: 1px 2px;
        background-color: #f9f9f9;
        color: #808080;
      }
    }
  }
  &-label {
    margin: 0;
    display: inline-block;
    max-width: 100%;
    position: absolute;
    top: 9px;
    left: 15px;
    font-weight: 300;
    font-size: 13px;
    opacity: 0;
    visibility: hidden;
    transition: all ease-in-out .5s;
    font-family: $RobotoCondensed;
  }
}

textarea.form-control {
  height: auto;
  min-height: 100px;
  resize: vertical;
}

.feedback {
  &-form {
    .no-robot {
      width: 302px;
      text-align: center;
      .button {
        margin-top: 9px;
        width: 100%;
        letter-spacing: 7px;
        padding: 9px 0;
        font-size: 16px;
        @include BebasNeueRegular;
      }
    }
    .form-control {
      height: 34px;
      font-weight: 400;
      background-color: #f9f9f9;
      border: 0;
      color: #808080;
      font-style: normal;
      letter-spacing: 0.7px;
      font-family: $RobotoCondensed;
      textarea & {
        height: auto;
      }
    }
    .form-label {
      color: #fff;
    }
    .jq-selectbox {
      &__select {
        height: 35px;
        line-height: 35px;
        margin-bottom: 6px;
        font-size: 10px;
        color: #000;
        text-transform: uppercase;
        letter-spacing: 2px;
        background-color: #000;
        padding: 0 33px 0 17px;
        border: 0;
        &-text {
          font-size: 17px;
          color: #fff;
          @include BebasNeueRegular;
        }
      }
      &__trigger {
        position: absolute;
        top: 11px;
        right: 12px;
        background: url(../img/svg/menu-contact-me.svg) no-repeat;
        z-index: 50;
        width: 20px;
        height: 20px;
        border: 0;
        &-arrow {
          display: none;
        }
      }
      &__dropdown {
        width: 100%;
        font-family: $RobotoCondensed;
        font-weight: 400;
      }
      li {
        min-height: 37px;
        height: 37px;
        line-height: 37px;
        padding-left: 17px;
        -webkit-user-select: none;
        user-select: none;
        font-size: 10px;
        color: #000;
        letter-spacing: 2px;
      }
    }
    &-bottom {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      .stay-connected-title {
        margin-bottom: 14px;
        letter-spacing: 1px;
        font-size: 10px;
        color: #ababab;
      }
    }
    textarea.form-control {
      min-height: 92px;
    }
  }
  &-select {
    width: 100%;
  }
  &-title {
    margin: 0 0 22px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ababab;
    font-weight: normal;
    @include MinionProRegular;
  }
}

.general-form {
  @include clearfix;
  &-group {
    margin-bottom: 23px;
  }
  legend {
    margin-bottom: 15px;
    font-size: 26px;
    line-height: 0.8;
    font-weight: normal;
    background-color: #000;
    @include BebasNeueRegular;
    span {
      padding-right: 8px;
      background-color: #fff;
    }
  }
  .form-group {
    margin-bottom: 15px;
    input {
      height: 37px;
    }
  }
  .form-control {
    color: #767676;
    background-color: #f9f9f9;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    border: 0;
    font-family: $RobotoCondensed;
  }

  .necessarily:after,
  .necessarily.select-area .jq-selectbox:after {
      position: absolute;
      top: 11px;
      right: 13px;
      font-size: 14px;
      color: #767676;
      content: '✳';
  }

  .necessarily.select-area .jq-selectbox:after {
      top: 10px;
      right: 47px;
      z-index: 101;
  }

  .label-block {
    margin-bottom: 10px;
    display: block;
  }
  .wrap-fieldset {
    display: flex;
    justify-content: space-between;
    .returns-form-group {
      flex-basis: 360px;
    }
  }
  .no-robot {
    width: 300px;
    margin-bottom: 15px;
    float: right;
    .button {
      width: 100%;
      font-size: 16px;
      margin-top: 15px;
      padding: 5px 15px 7px;
      letter-spacing: 1.5px;
      @include BebasNeueRegular;
    }
  }
}
