.header-page {
  &-title {
    margin: 0;
    display: inline-block;
    line-height: 1;
    letter-spacing: 1px;
    font-size: 40px;
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
    @include MinionProRegular;
    span {
      padding: 13px 15px 5px 0;
      display: block;
      z-index: 5;
      background: #000;
      position: relative;
      &:after {
        height: 100%;
        width: 2000px;
        left: -1999px;
        top: 0;
        position: absolute;
        background-color: #000;
        content: '';
      }
    }
  }
  &-catalog {
    position: relative;
    flex-basis: 100%;
  }
}
