.delivery-panel {
  display: none;
  @include from('l') {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    font-family: $Roboto;

    li {
      width: calc(100% / 3);
      &:nth-child(2) {
        border-right: 1px solid #5a5a5a;
        border-left: 1px solid #5a5a5a;
      }
    }
    a {
      padding: 18px 0;
      color: #fff;
      background-color: #000;
      display: block;
      text-align: center;
      letter-spacing: .4px;
      transition: .4s ease-in-out;
      &:hover {
        background-color: #5a5a5a;
      }
    }
  }
}

.home-catalog {
  .img-cat {
    transition: transform 1s;
    backface-visibility: hidden;
    position: relative;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    @include to('s') {
      height: 300px;
    }
    @include to('xs') {
      height: 150px;
    }
    @include from('m') {
      height: 100%;
    }
  }
  &-image {
    overflow: hidden;
    position: relative;
    z-index: 3;
    @include from('m') {
      flex-basis: calc(100% - 366px);
    }
    @include to('s') {
      width: 100%;
    }
  }
  &-image-zoom {
    .img-cat {
      transform: scale3d(1.1, 1.1, 1);
    }
  }
  &-big {
    display: flex;
    flex-wrap: wrap;
    .description {
      position: relative;
      z-index: 4;
      @include from('m') {
        width: 366px;
        padding: 33px 35px 25px 38px;
      }
      @include to('s') {
        padding: 0 17px;
        order: 1;
      }
      &:after {
        position: absolute;
        width: 0;
        height: 0;
        content: '';
        @include from('m') {
          top: 33px;
          left: -15px;
          border-right: 15px solid;
          border-top: 16px solid transparent;
          border-bottom: 16px solid transparent;
        }
        @include to('s') {
          top: -10px;
          left: 35px;
          border-right: 9px solid transparent;
          border-bottom: 10px solid;
          border-left: 9px solid transparent;
        }
      }
    }
    .title {
      margin: 0 0 19px;
      font-size: 24px;
      font-weight: normal;
      text-transform: uppercase;
      @include MinionProRegular;
      @include from('m') {
        line-height: 1;
      }
      @include to('s') {
        padding-top: 10px;
        margin-bottom: 0;
      }
    }
    .text {
      margin-bottom: 0;
      padding-bottom: 15px;
      line-height: 21px;
      font-size: 12px;
      color: #696969;
      font-style: italic;
      font-weight: 300;
      font-family: $Roboto;
      @include from('m') {
        padding-bottom: 55px;
      }
    }
    .catalog-show-more {
      display: block;
      font-size: 13px;
      width: 108px;
      margin: 0 auto;
      color: #dbdbdb;
      padding: 7px 0;
      letter-spacing: 1px;
      transition: .4s ease-in-out;
      @include to('s') {
        display: none;
      }
      &:hover {
        color: #fff;
        background-color: transparent;
        outline: 1px solid;
      }
    }
  }
  .columns {
    display: flex;
    @include to('s') {
      flex-wrap: wrap;
    }
    &-img {
      @include from('m') {
        flex-basis: calc(100% - 513px);
      }
      .home-catalog-image {
        @include from('m') {
          flex-basis: calc(100% - 272px);
          img {
            height: 365px;
          }
        }
      }
      .description {
        @include from('m') {
          width: 272px;
          &:after {
            top: auto;
            left: auto;
            right: -15px;
            bottom: 20px;
            border-right: 0;
            border-left: 15px solid;
          }
        }
      }
      .home-catalog-big {
        .title {
          color: #fff;
        }
        .text {
          color: #fff;
        }
        .catalog-show-more {
          color: #a45449;
        }
        .catalog-show-more:hover {
          color: #fff;
          background-color: #a45449;
          outline-color: #fff;
        }
      }
    }
    &-single {
      margin: 0;
      width: 100%;
      @include from('m') {
        width: 513px;
        .img-cat {
          height: calc(100% - 126px);
        }
      }
      figcaption {
        padding: 45px 0 35px;
        color: #fff;
        background-color: #000;
        letter-spacing: 1px;
        font-size: 46px;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;
        @include MinionProRegular;
        @include to('s') {
          font-size: 28px;
          padding-top: 30px;
          padding-bottom: 22px;
        }
      }
    }
  }

  .item-third {
    .title {
      color: #fff;
    }
    .text {
      color: #000;
    }
    .catalog-show-more {
      color: #38ebff;
      &:hover {
        background-color: #fff;
      }
    }
    @include from('m') {
      &:after {
        right: -15px;
        left: auto;
        border-right: 0;
        border-left: 15px solid;
      }
    }
  }
}

.first-screen {
  @include from('m') {
    display: none;
  }
  @include to('s') {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/example/img-catalog-3.jpg) no-repeat center #fff / cover;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 7px solid;
    &:before {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(255, 255, 255, .6);
      z-index: 5;
      content: '';
    }
    .icon-logo_bottom {
      font-size: 200px;
      position: relative;
      z-index: 5;
    }
    .button {
      width: 159px;
      padding: 8px 0 7px;
      margin-top: 10px;
      font-size: 15px;
      letter-spacing: 2px;
      transition: .4s ease-in-out;
      position: relative;
      z-index: 5;
      @include BebasNeueRegular;
      &:not(.start-shopping) {
        background-color: #fff;
        &:hover {
          color: #fff;
          background-color: #000;
        }
      }
    }
    .start-shopping {
      background-color: #000;
      color: #fff;
      &:hover {
        background-color: #fff;
        color: #000;
      }
    }
  }
}
