[class^="icon-"],
[class*=" icon-"] {

  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bag:before {
  content: "\e907";
}

.icon-check:before {
  content: "\e908";
}

.icon-close:before {
  content: "\e909";
}

.icon-down:before {
  content: "\e90a";
}

.icon-email:before {
  content: "\e90b";
}

.icon-favorites:before {
  content: "\e90c";
}

.icon-left:before {
  content: "\e90d";
}

.icon-logo_bottom:before {
  content: "\e90e";
}

.icon-messenger:before {
  content: "\e90f";
}

.icon-open:before {
  content: "\e910";
}

.icon-right:before {
  content: "\e911";
}

.icon-share:before {
  content: "\e912";
}

.icon-short_logo:before {
  content: "\e913";
}

.icon-sort_big:before {
  content: "\e914";
}

.icon-sort_small:before {
  content: "\e915";
}

.icon-up:before {
  content: "\e916";
}

.icon-facebook:before {
  content: "\e900";
}

.icon-instagram:before {
  content: "\e901";
}

.icon-pinterest:before {
  content: "\e902";
}

.icon-tumbler:before {
  content: "\e903";
}

.icon-twitter:before {
  content: "\e904";
}

.icon-youtube:before {
  content: "\e905";
}

.icon-google:before {
  content: "\e906";
}
