.instagram-block {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  li {
    position: relative;
    &:hover {
      .overflow {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  .icon-instagram {
    font-size: 22px;
    color: #fff;
  }
  .overflow {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, .5);
    transition: .4s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
