.main-catalog {
  display: flex;
  .filter-group {
    margin-top: -145px;
    align-self: flex-start;
  }
  &-content {
    margin-bottom: 33px;
    flex-basis: calc(100% - 320px);
    padding: 0 57px;
  }
  .button {
    height: 33px;
    line-height: 33px;
    padding: 0 25px;
    background-color: #fff;
    color: #bababa;
    border: 1px solid #efefef;
    letter-spacing: 2px;
    transition: .3s ease-in-out;
    &:hover {
      color: #000;
      border-color: #000;
    }
  }
}

.sorting-goods {
  margin: 19px 0;
  display: flex;
  justify-content: space-between;
  .sort-views {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      margin-right: 16px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      transition: .3s ease-in-out;
      &:not(.active):hover {
        opacity: .8;
      }
    }
    svg {
      width: 13px;
      fill: #000;
    }
    .active {
      cursor: default;
      svg {
        fill: #b4b4b4;
      }
    }
  }
  .currency-select {
    margin-right: -35px;
  }
}
