.main-catalog {
  padding-top: 58px;
  position: relative;
  background: url("../img/example/bg-header.jpg") no-repeat top center;
  .container-fluid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .header-page-catalog {
    margin-bottom: 52px;
    .header-page-title {
      min-width: 320px;
      text-align: right;
      span {
        transform: translateX(0);
      }
    }
  }
  .filter-group {
    align-self: flex-start;
  }
  &-content {
    margin-bottom: 33px;
    flex-basis: calc(100% - 320px);
    padding: 145px 57px 0;
  }
}

.sorting-goods {
  margin: 19px 0;
  display: flex;
  justify-content: space-between;
  .sort-views {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      margin-right: 16px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      transition: .3s ease-in-out;
      font-size: 12px;
      &:not(.active):hover {
        color: #b4b4b4;
      }
    }
    .icon-sort_small {
      color: #000;
    }
    .active {
      cursor: default;
      .icon-sort_small {
        color: #b4b4b4;
      }
    }
  }
  .currency-select {
    margin-right: -35px;
  }
}
