.main-menu {
  text-transform: uppercase;
  font-size: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  @include MinionProRegular;
  @include to('s') {
    width: 100%;
    padding: 0 5px;
    background-color: #fff;
    z-index: 5;
    flex-direction: column;
    transform: translateX(-103%);
    will-change: transform;
    position: absolute;
    transition: all 330ms ease-out;
  }
  & > li {
    letter-spacing: 1.5px;
    @include from('m') {
      margin-left: 12px;
      margin-right: 12px;
    }
    &:not(.main-menu-search) > a {
      padding-top: 8px;
      padding-bottom: 10px;
      @include to('s') {
        padding: 7px 0 7px 22px;
        font-size: 19px;
        border: 0;
      }
    }
    & > a {
      display: block;
      border-top: 3px solid transparent;
      transition: .4s ease-in-out;
    }
    @include from('m') {
      &.active > a, > a:hover {
        border-top-color: #000;
      }
    }
  }
  &-parent {
    position: relative;
    &:after {
      content: '';
      border-left: 11px solid transparent;
      border-right: 11px solid transparent;
      border-bottom: 0 solid #fff;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -5px;
      transition: .4s ease-in-out;
    }
    @include from('m') {
      &:hover {
        &:after {
          border-bottom-width: 7px;
        }
        .child {
          width: 213px;
          @include visible-display;
        }
      }
    }
  }
  .child {
    list-style: none;
    @include from('m') {
      padding: 26px 0;
      top: 41px;
      left: 0;
      background-color: #fff;
      @include hide-display;
    }
    @include to('s') {
      padding: 15px 0 0 23px;
      background-color: #000;
      &:after {
        position: absolute;
        top: -5px;
        left: 30px;
        content: '';
      }
    }
    li {
      font-size: 11px;
      @include from('m') {
        margin-bottom: 2px;
      }
      &:hover .category-img {
        opacity: 1;
        height: 100%;
      }
    }
    a {
      padding: 6px 5px 3px;
      display: block;
      white-space: nowrap;
      letter-spacing: 1.1px;
      line-height: 1;
      transition: .4s ease-in-out;
      @include from('m') {
        background-color: transparent;
        color: #000;
        &:hover {
          background-color: #000;
          color: #fff;
        }
      }
      @include to('s') {
        padding: 5px 0 6px;
        letter-spacing: 3.2px;
        background-color: #000;
        color: #fff;
        font-size: 16px;
        @include BebasNeueRegular;
      }
    }
    &:before {
      width: 2560px;
      height: 100%;
      content: '';
      background-color: #fff;
      position: absolute;
      top: 0;
      left: -2560px;
    }
    .category-img {
      width: 297px;
      height: 0;
      opacity: 0;
      position: absolute;
      top: 23px;
      left: -305px;
      overflow: hidden;
      transition: .4s ease-in-out;
    }
  }
  &-search {
    @include from('m') {
      order: 7;
    }
    @include to('s') {
      margin: 0 12px 13px;
      border-bottom: 1px solid;
    }
    a {
      padding: 8px 0 10px 23px;
      background: url(../img/icon-search.png) no-repeat 0 8px;
      @include to('s') {
        padding: 11px 0 8px 43px;
        background-position: 8px 11px;
      }
    }
  }
}

.fixed-block-top {
  width: 100%;
  z-index: 9;

  .logo, .favorite, .info-panel {
    visibility: hidden;
    opacity: 0;
    transition: .4s ease-in-out;
  }
  .logo {
    position: absolute;
    top: 3px;
    left: 11px;
    .icon-short_logo {
      font-size: 34px;
    }
  }

  .favorite {
    top: 10px;
    left: 72px;
  }

  .info-panel {
    position: absolute;
    top: 0;
    right: 7px;
    .user {
      display: inline-block;
      vertical-align: top;
      background-color: #000;
      li {
        display: inline-block;
        padding: 5px 19px 9px;
        font-size: 14px;
        line-height: 1;
        letter-spacing: 1.5px;
        @include BebasNeueBold;
      }
      a {
        color: #fff;
      }
    }
    .basket-count {
      margin: 6px 10px 0 15px;
      display: inline-block;
      vertical-align: bottom;
      .icon-bag {
        font-size: 30px;
        margin-right: 12px;
        display: inline-block;
        vertical-align: middle;
      }
      &:after {
        font-size: 17px;
      }
    }
  }
}

.fixed-block-active {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 7px;
  border-left: 7px solid;
  border-right: 7px solid;
  z-index: 99;
  .logo, .favorite, .info-panel {
    visibility: visible;
    opacity: 1;
  }
}

.nav-area {
  background-color: #efefef;
  position: relative;
  z-index: 9;
  &-open {
    .main-menu {
      transform: none;
    }
  }
}
