.page-about {
  padding-top: 248px;
  background: url("../img/example/img-page.jpg") no-repeat top center;
  .content {
    padding-bottom: 45px;
    border-top: 1px solid;
    box-shadow: 10px 10px 0 0 rgba(0, 0, 0, .03);
  }
  .header-page-title {
    padding: 0 15px 0 0;
    position: relative;
    margin-top: -14px;
    transform: translateY(-161px);
    span {
      transform: translateX(-60%);
    }
  }
  .feedback-form {
    float: left;
    width: 570px;
    margin-right: 45px;
  }
  .contacts-block {
    padding-top: 55px;
  }
}
