.product-page {
  display: flex;
  position: relative;
  @include to('s') {
    flex-direction: column;
  }
  .header-page-title {
    min-width: 320px;
    padding: 0;
    letter-spacing: 0;
    font-size: 25px;
    text-align: right;
    span {
      padding: 19px 22px 14px 0;
    }
    @include to('m') {
      display: block;
      font-size: 24px;
    }
  }

  .filter-group.filter-group-open {
    top: 55px;
    padding-top: 50px;
    padding-left: 25px;
  }

  .main-catalog-content {
    padding-top: 10px;
  }
}

.search-title {
  font-size: 24px;
  letter-spacing: 2.5px;
  @include from('m') {
    margin: 3px 0 0 -39px;
  }
  & + .sorting-goods {
    margin-top: 8px;
  }
}

.page-content {
  .content {
    width: 100%;
    max-width: 921px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    background-color: #fff;
    font-weight: 300;
    font-family: $RobotoCondensed;
    @include from('l') {
      padding: 0 42px;
    }
    p {
      line-height: 23px;
      margin-bottom: 24px;
    }
  }
}

.contacts-block {
  @include clearfix;
  &-info {
    padding-top: 50px;
    .logo-small {
      width: 75px;
      display: block;
      margin: 0 auto 35px;
      transition: .4s ease-in-out;
      &:hover {
        opacity: .8;
      }
    }
    .requisites {
      line-height: 26px;
      font-style: italic;
      font-weight: 400;
      color: #565656;
      font-family: $RobotoCondensed;
    }
  }
}
