.returns-exchanges {
  .content {
    width: 820px;
  }
}

.general-form {
  @include clearfix;
  &-group {
    margin-bottom: 23px;
  }
  legend {
    margin-bottom: 15px;
    font-size: 26px;
    line-height: 0.8;
    font-weight: normal;
    background-color: #000;
    @include BebasNeueRegular;
    span {
      padding-right: 8px;
      background-color: #fff;
    }
  }
  .form-group {
    margin-bottom: 15px;
    input {
      height: 37px;
    }
  }
  .form-control {
    color: #767676;
    background-color: #f9f9f9;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    border: 0;
    font-family: $RobotoCondensed;
  }
  .necessarily {
    &:after {
      position: absolute;
      top: 12px;
      right: 16px;
      color: #767676;
      content: '*';
    }
  }
  .label-block {
    margin-bottom: 10px;
    display: block;
  }
  .wrap-fieldset {
    display: flex;
    justify-content: space-between;
    .returns-form-group {
      flex-basis: 360px;
    }
  }
  .no-robot {
    width: 300px;
    margin-bottom: 15px;
    float: right;
    .button {
      width: 100%;
      font-size: 16px;
      margin-top: 15px;
      padding: 5px 15px 7px;
      letter-spacing: 1.5px;
      @include BebasNeueRegular;
    }
  }
}
