.shipping-page {
  .header-page-title {
    font-size: 25px;
    letter-spacing: 0;
    @include to('s') {
      display: block;
    }
    span {
      padding: 19px 20px 14px 0;
      margin-bottom: 25px;
      @include from('l') {
        transform: translateX(-35%);
      }
      @include to('s') {
        margin-right: -15px;
      }
    }
  }
  h2 {
    margin: 0 0 17px;
    font-size: 22px;
    font-weight: normal;
    @include BebasNeueRegular;
  }
  .content p {
    line-height: 21px;
    margin-bottom: 18px;
  }
}

.delivery {
  margin-bottom: 25px;
  box-shadow: 10px 10px 0 0 rgba(0, 0, 0, .03);
  @include BebasNeueRegular;
  &-title {
    padding: 7px 10px 6px;
    line-height: 1;
    font-size: 20px;
    color: #fff;
    background-color: #000;
  }
  &-head {
    padding: 24px 0;
    font-size: 19px;
    color: #666;
    letter-spacing: 2px;
    text-align: center;
  }
  &-result {
    padding: 25px 0;
    @include clearfix;
    ul {
      width: 50%;
      min-height: 115px;
      float: left;
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &:first-of-type {
        border-right: 1px solid;
      }
    }
    li {
      font-size: 21px;
      letter-spacing: 2px;
      display: inline-block;
      line-height: 1;
      &:first-of-type {
        padding-bottom: 7px;
        margin-bottom: 5px;
        border-bottom: 1px solid #000;
      }
    }
    &-left {
    }
    &-right {
      width: 50%;
    }
  }
}
