.slider-loop {
  &-title {
    opacity: 0;
    visibility: hidden;
    margin: 0;
    line-height: 40px;
    position: absolute;
    right: 20px;
    bottom: 15px;
    font-size: 50px;
    color: #efefef;
    text-shadow: 0 1px 4px rgba(0, 0, 0, .5);
    letter-spacing: 1px;
    font-weight: normal;
    text-transform: uppercase;
    transition: .4s ease-in-out;
    @include MinionProRegular;
    span {
      font-size: 36px;
      display: block;
    }
  }
  &-nav {
    div {
      width: 20px;
      height: 20px;
      background-color: #000;
      cursor: pointer;
      text-align: center;
      transition: .4s ease-in-out;
      position: absolute;
      bottom: 0;
      &:hover {
        background-color: #efefef;
        svg {
          fill: #000;
        }
      }
    }
    .owl-prev {
      left: 7px;
    }
    .owl-next {
      right: 0;
    }
    svg {
      fill: #fff;
      width: 5px;
      transition: .4s ease-in-out;
    }
  }
  .center {
    border-right: 1px solid;
    border-left: 1px solid;
    transition: .4s ease-in-out;
    &:hover {
      .slider-loop-title {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .item {
    height: 573px;
    padding: 0;
  }
}
