.social {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  svg {
    width: 18px;
    fill: #fff;
    transition: .4s ease-in-out;
  }
}

.footer-social {
  width: 220px;
  display: flex;
  justify-content: space-between;
  .icon {
    font-size: 14px;
    color: #fff;
    &-pinterest {
      font-size: 18px;
    }
    &-facebook {
      font-size: 15px;
    }
  }
}

.social-nav {
  padding-right: 15px;
  z-index: 6;
  position: relative;
  display: flex;
  justify-content: space-between;
  li {
    height: 100%;
    line-height: 33px;
    transition: .4s ease-in-out;
    &:not(.social-share) {
      visibility: hidden;
      opacity: 0;
    }
    &:not(:last-child) {
      margin-right: 26px;
    }
  }
  svg {
    width: 13px;
    &:hover {
      fill: #ababab;
    }
  }
  .gp svg {
    width: 16px;
  }
  .pr svg {
    width: 11px;
  }
  .fb svg {
    width: 11px;
  }
  .tw svg {
    width: 14px;
  }
  .tumblr svg {
    width: 11px;
  }
  .text {
    font-size: 11px;
    color: #838383;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  .social-share svg {
    fill: #000;
  }
}

.contacts-block-social {
  width: auto;
  display: flex;
  justify-content: space-between;
  .icon {
    color: #000;
    font-size: 18px;
    &:hover {
      color: #ababab;
    }
  }
  .pr svg {
    width: 21px;
  }
  .fb svg {
    width: 20px;
  }
  .tw svg {
    width: 22px;
  }
  .instagram svg {
    width: 21px;
  }
  .yt svg {
    width: 25px;
  }
}
