.terms-condition {
  max-width: 1080px;
  margin: 0 auto;
  color: #000;
  @include to('l') {
    padding: 0 15px;
  }
  .head-terms {
    margin: 0 0 17px;
    @include from('m') {
      display: flex;
      align-items: center;
    }
  }
  .text-info {
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 300;
    font-family: "Roboto Condensed", sans-serif;
    @include from('m') {
      padding-left: 22px;
    }
    @include to('s') {
      margin-top: 20px;
    }
  }
  .title {
    margin: 0;
    line-height: 1;
    font-size: 25px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    @include MinionProRegular;
    @include from('m') {
      display: inline-block;
    }
    span {
      white-space: nowrap;
      padding: 17px 0 15px 0;
      display: block;
      z-index: 5;
      background: #000;
      position: relative;
      @include from('l') {
        margin-left: -52px;
      }
      @include from('m') {
        width: 272px;
      }
      &:after {
        height: 100%;
        width: 2000px;
        left: -1999px;
        top: 0;
        position: absolute;
        background-color: #000;
        content: '';
      }
    }
  }
  .wrap {
    padding-bottom: 50px;
    @include from('m') {
      display: flex;
    }
  }
  .sidebar {
    margin-bottom: 30px;
    @include from('m') {
      width: 220px;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    li {
      padding: 7px 8px 6px;
      font-size: 13px;
      color: #000;
      background-color: transparent;
      line-height: 1;
      letter-spacing: 1.4px;
      cursor: pointer;
      @include BebasNeueRegular;
      span {
        margin-right: 5px;
      }
    }
    .active-link {
      color: #fff;
      background-color: #000;
    }
  }
  .content {
    padding-left: 7px;
    font-size: 15px;
    font-weight: 300;
    font-family: $RobotoCondensed;
    @include from('m') {
      flex-basis: calc(100% - 220px);
    }
    .bold {
      font-weight: 400;
    }
  }
  ol {
    padding: 0;
    margin: 0;
    counter-reset: item;
    li {
      display: block;
      &:before {
        content: counters(item, ".") ". ";
        counter-increment: item;
        font-size: 20px;
        letter-spacing: 1px;
        font-weight: normal;
        @include BebasNeueRegular;
      }
    }
  }
  .table {
    padding-top: 15px;
    margin-left: -20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .td {
      padding: 20px 15px 15px 25px;
      margin-bottom: 1px;
      width: 163px;
      background-color: #f7f7f7;
      @include to('xs') {
        padding: 10px;
        width: 120px;
      }
    }
    .cont {
      margin-left: 1px;
      @include from('s') {
        padding: 16px 25px 15px 17px;
        flex-basis: calc(100% - 164px);
      }
      @include to('xs') {
        padding-right: 5px;
        flex-basis: calc(100% - 122px);
      }
    }
  }

  .panel-group {
    @include from('m') {
      padding-left: 14px;
    }
  }
  .panel-heading {
    margin: 0 0 12px;
    font-size: 20px;
    display: inline-block;
    font-weight: normal;
    @include BebasNeueRegular;
  }
  .panel-body {
    padding-bottom: 20px;
  }
}
