.top-panel {
  height: 115px;
  padding: 0 20px;
  overflow: hidden;
  position: relative;
  z-index: 10;
  border-bottom: 3px solid;
  border-top: 7px solid;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  .logo {
    padding-top: 15px;
    transition: .4s ease-in-out;
    &:hover {
      opacity: .9;
    }
  }
  &-info {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    a {
      transition: .3s ease-in-out;
      &:hover {
        opacity: .8;
      }
    }
    .top {
      margin-bottom: 20px;
      display: flex;
      justify-content: flex-end;
      .user {
        padding: 0 5px 5px;
        background-color: #000;
        li {
          display: inline-block;
          padding: 0 8px;
          font-size: 14px;
          line-height: 1;
          letter-spacing: 1px;
          @include BebasNeueBold;
          a {
            color: #fff;
          }
        }
      }
    }
  }
  .basket-count {
    padding-right: 10px;
  }
  .favorite {
    padding: 9px 8px 3px 10px;
    top: 44px;
    left: 381px;
    margin: -10px 0 0 -10px;
    .icon-favorites {
      font-size: 17px;
    }
  }
}

.top-basket {
  display: flex;
  justify-content: flex-end;
  .amount {
    margin: 3px 0 1px;
    color: #a2a1a1;
    font-size: 13px;
    letter-spacing: 1px;
  }
  .checkout {
    font-size: 18px;
    letter-spacing: 5.5px;
    @include BebasNeueBold;
  }
  .icon-bag {
    font-size: 68px;
    height: 71px;
    margin: 0 19px 0 25px;
    display: inline-block;
    vertical-align: middle;
  }
}

.currency-select {
  margin-left: 10px;
  .jq-selectbox {
    &__select {
      height: auto;
      padding: 2px 16px 0 5px;
      border: 0;
      background-color: transparent;
      &-text {
        width: auto !important;
        font-size: 14px;
        @include BebasNeueBold;
      }
    }
    &__trigger {
      border-left: 0;
      &-arrow {
        position: absolute;
        top: 9px;
        right: 0;
        border-top: 6px solid #000;
        border-right-width: 4px;
        border-left-width: 4px;
      }
    }
  }
  &.jq-selectbox.focused .jq-selectbox__select {
    outline: 0;
  }
}
