.top-panel {
  position: relative;
  z-index: 23;
  display: flex;
  justify-content: space-between;
  @include from('l') {
    height: 115px;
    padding: 0 20px;
    overflow: hidden;
    background-color: #fff;
    border-bottom: 3px solid;
    border-top: 7px solid;
    .logo {
      padding-top: 15px;
    }
  }
  @include to('m') {
    height: 47px;
    background-color: #000;
  }
  &-open {
    .currency-select {
      top: 59px !important;
      right: 28px;
    }
  }

  &__left-join {
    @include from('l') {
      display: flex;
    }
    .top-icon-menu {
      @include from('l') {
        display: none;
      }
      @include to('m') {
        display: inline-block;
        vertical-align: middle;
      }
    }
    .icon-left {
      height: 100%;
      font-size: 20px;
      color: #fff;
      padding: 14px 13px 3px 16px;
    }

    .burger-menu {
      height: 100%;
      cursor: pointer;
      &::after {
        background: #fff;
        width: 20px;
        height: 2px;
        display: block;
        margin: 23px 12px 0 7px;
        box-shadow: 0 6px 0 0 #fff, 0 -6px 0 0 #fff;
        content: '';
      }
    }

    .logo {
      transition: .4s ease-in-out;
      &:hover {
        opacity: .9;
      }
      .icon-short_logo {
        @include to('m') {
          font-size: 23px;
          color: #fff;
        }
      }
      @include to('m') {
        img {
          display: none;
        }
        .icon-short_logo {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }

    .favorite {
      padding: 9px 8px 3px 10px;
      @include from('l') {
        top: 44px;
        left: 381px;
        margin: -10px 0 0 -10px;
      }
      @include to('m') {
        position: relative;
        display: inline-block;
      }
      .icon-favorites {
        font-size: 17px;
        @include to('m') {
          font-size: 12px;
          color: #fff;
        }
      }
    }
  }

  &-info {
    @include to('m') {
      display: flex;
      align-items: center;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    a {
      transition: .3s ease-in-out;
      &:hover {
        opacity: .8;
      }
    }
    .top {
      display: flex;
      justify-content: flex-end;
      @include from('l') {
        margin-bottom: 20px;
        font-size: 14px;
        @include BebasNeueBold;
      }
      @include to('m') {
        align-items: center;
        font-size: 10px;
        @include BebasNeueRegular;
      }
      .user {
        padding: 0 5px 5px;
        margin: 0;
        background-color: #000;
        @include to('m') {
          padding-bottom: 0;
        }
        li {
          display: inline-block;
          padding: 0 8px;
          line-height: 1;
          letter-spacing: 1px;
          a {
            color: #fff;
          }
        }
      }
    }
  }
  .basket-count {
    padding-right: 10px;
    @include to('m') {
      &:after {
        padding: 0 9px 0 10px;
      }
    }
  }

  .icon-short_logo {
    @include from('l') {
      display: none;
    }
  }

  .currency-select {
    @include to('m') {
      position: absolute !important;
      top: -100px;
    }
  }
}

.top-basket {
  display: flex;
  justify-content: flex-end;
  @include to('m') {
    color: #fff;
    li:first-child {
      display: none;
    }
  }
  .amount {
    margin: 3px 0 1px;
    color: #a2a1a1;
    font-size: 13px;
    letter-spacing: 1px;
  }
  .checkout {
    font-size: 18px;
    letter-spacing: 5.5px;
    @include BebasNeueBold;
  }
  .icon-bag {
    @include from('l') {
      font-size: 68px;
      height: 71px;
      margin: 0 19px 0 25px;
      display: inline-block;
      vertical-align: middle;
    }
    @include to('m') {
      font-size: 25px;
      vertical-align: middle;
    }
  }
}
