.confirm_pay_bg {
  width: 100%;
  height: 100%;
  background: #F5F5F5;
}

.pay-confirm {
  position: relative;
  .wrap {
    position: relative;
    &:after {
      content: "";
      width: 11px;
      height: 100%;
      position: absolute;
      top: 13px;
      right: -11px;
      background: #EDEDED;
    }
    &:before {
      content: "";
      width: 100%;
      height: 12px;
      position: absolute;
      bottom: -12px;
      left: 11px;
      background: #EDEDED;
    }
  }
}
