.login-body {
  background-color: #f5f5f5;
}

.wrapping {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.forgot-block {
  .form-group {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }
  .form-control {
    font-size: 12px;
    font-style: italic;
  }
}

.nav-tabs {
  width: 100%;
  height: 42px;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  li {
    width: 50%;
    line-height: 40px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    letter-spacing: 3px;
    text-align: center;
    cursor: pointer;
    transition: .4s ease-in-out;
    @include BebasNeueRegular;
    &:hover {
      opacity: 0.9;
    }
    &.active {
      color: #000;
      background-color: #fff;
    }
  }
}

.tab-content {
  > .tab-pane {
    display: none;
  }
  > .active {
    padding-top: 50px;
    display: flex;
    min-height: 445px;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
}

.login-footer {
  width: 100%;
  margin-top: 65px;
  align-self: flex-end;
  text-align: center;

  .stay-connected {
    width: 230px;
    margin: 0 auto;
    &-title {
      margin-bottom: 17px;
      color: #000;
      font-size: 13px;
    }
    .copyright {
      margin-bottom: 20px;
      font-size: 11px;
      letter-spacing: 2px;
      color: #a0a0a0;
    }
    .social {
      margin-bottom: 17px;
      .icon {
        color: #000;
      }
    }
  }
}

.login-area {
  width: 723px;
  margin: 25px auto 30px;
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid;
    .logo {
      img {
        height: 51px;
      }
    }
    .back-to-shop {
      font-size: 12px;
      letter-spacing: 2.5px;
      @include BebasNeueRegular;
    }
  }
  &-body {
    background-color: #fff;
    box-shadow: 10px 10px 0 0 rgba(0, 0, 0, .03);
    .general-form {
      width: 100%;
      .form-control {
        color: #000;
        font-size: 14px;
        font-weight: 400;
        font-family: $RobotoCondensed;
      }
    }
    .quick-text {
      margin-bottom: 30px;
      padding: 0;
      letter-spacing: 1px;
      line-height: 1;
      list-style: none;
      &.single-quick {
        margin-top: -100px;
      }
      li {
        margin-bottom: 3px;
      }
    }
  }
  .social {
    display: flex;
    justify-content: space-between;
    li {
      width: 36px;
      height: 36px;
      transition: .4s ease-in-out;
      display: flex;
      justify-content: center;
      align-items: center;
      &:not(:last-child) {
        margin-right: 40px;
      }
      &:hover {
        opacity: .8;
      }
    }
    .icon {
      color: #fff;
      font-size: 16px;
      display: block;
    }
    .fb {
      background-color: #3a5898;
      .icon {
        background-color: #fff;
        outline: 1px solid #3a5898;
        outline-offset: -1px;
        color: #3a5898;
        font-size: 22px;
        margin-right: 2px;
      }
    }
    .gp {
      background-color: #de4b37;
      .icon {
        background-color: #de4b37;
        color: #fff;
      }
    }
    .tw {
      background-color: #54aced;
      .icon {
        background-color: #54aced;
        color: #fff;
      }
    }
    .letter {
      background-color: #000;
      .icon {
        background-color: #000;
        color: #fff;
      }
    }
  }
  .button {
    @include BebasNeueRegular;
  }
  .forgot {
    margin: 20px 0;
    letter-spacing: 3px;
    font-size: 13px;
    a {
      border-bottom: 1px solid;
      transition: .4s ease-in-out;
      &:hover {
        border-color: transparent;
      }
    }
    @include BebasNeueRegular;
  }
  .password {
    .form-control:focus + label {
      top: -13px;
      font-size: 12px;
      opacity: 1;
      visibility: visible;
      left: 0;
      right: auto;
    }
    .form-label {
      top: 13px;
      left: auto;
      right: 40px;
      color: #b6b6b6;
      font-style: italic;
      font-size: 11px;
      visibility: visible;
      opacity: 1;
    }
  }
}

.checkbox-group-bottom {
  margin-bottom: 58px;
  text-align: left;
  .checkbox-custom-view {
    padding-left: 52px;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    font-family: $RobotoCondensed;

    a {
      font-weight: 700;
      white-space: nowrap;
    }
  }
  .checkbox-custom + .checkbox-custom-view::before {
    border: 1px solid #e4e4e4;
    margin-left: -52px;
  }
  .privacy {
    .checkbox-custom-view {
      padding-top: 9px;
      line-height: 18px;
    }
    .checkbox-custom + .checkbox-custom-view::before {
      margin-top: -7px;
    }
  }
}

.tab-pane .general-form {
  margin-top: 40px;
  padding: 40px 55px;
}

.sign-in.general-form {
  width: 344px;
  padding-left: 0;
  padding-right: 0;
}

.wrap-content {
  display: flex;
  min-height: 445px;
  align-items: center;
  flex-direction: column;
}

.long-registration {
  .general-form {
    background-color: #fafafa;
    .form-control {
      background-color: #fff;
    }
  }
  .gender {
    .label-block {
      background-color: #fff;
    }
    .checkbox-custom-view {
      background-color: #fff;
    }
    .checkbox-custom + .checkbox-custom-view::before {
      background-color: #fff;
    }
  }
}

.login-title {
  width: 100%;
  margin: 43px 0 36px;
  letter-spacing: 2.5px;
  line-height: 15px;
  background-color: #000;
  font-size: 26px;
  font-weight: normal;
  text-align: left;
  @include BebasNeueRegular;
  span {
    padding: 3px 9px 0 10px;
    background-color: #fff;
    display: inline-block;
  }
}

.login-step {
  width: 425px;
  margin: 0 auto 33px;
  padding: 0 15px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  counter-reset: li;
  position: relative;
  &:after {
    width: 100%;
    height: 1px;
    background-color: #e4e4e4;
    position: absolute;
    top: 17px;
    left: 0;
    content: '';
  }
  li {
    font-size: 11px;
    text-align: center;
    position: relative;
    z-index: 6;
    @include BebasNeueRegular;
    &:before {
      content: counter(li);
      counter-increment: li;
      padding-top: 10px;
      margin: 0 auto 8px;
      display: block;
      height: 35px;
      width: 35px;
      font-size: 17px;
      line-height: 1;
      position: relative;
      z-index: 5;
      color: #fff;
      background-color: #000;
    }
    &:after {
      height: 1px;
      position: absolute;
      top: 17px;
      content: '';
    }
    &:first-of-type {
      margin-left: -16px;
    }
    &:last-of-type {
      margin-right: -28px;
    }
    span {
      letter-spacing: 1px;
    }
  }
  .current {
    z-index: 5;
    ~ li {
      color: #b4b4b4;
      &:before {
        background-color: #e4e4e4;
        color: #000;
      }
    }
    &:after {
      background-color: #000;
      width: 274px;
      left: -133px;
    }
    &:first-of-type:after {
      width: 110px;
      left: 2px;
    }
    &:last-of-type:after {
      background-color: #000;
      width: 356px;
      left: -342px;
    }
  }
}

.register {
  margin-top: 45px;
  .general-form {
    padding: 0 55px 40px;
    .form-group {
      margin-bottom: 17px;
      &:last-of-type {
        margin-bottom: 30px;
      }
    }
  }
  .select-country {
    padding: 0;
    text-align: left;
    .jq-selectbox__trigger-arrow {
      top: 15px;
    }
  }
}

.returns-form-group legend {
  font-size: 17px;
  text-align: center;
  letter-spacing: 3.5px;
  background-color: transparent;
  @include BebasNeueRegular;
}

.date-area {
  margin: 25px 0 18px;
  .form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    input:not(.month) {
      width: 123px;
      @include to('xs') {
        width: 65px;
      }
    }
    .month {
      @include from('s') {
        flex-basis: calc(100% - 272px);
      }
      @include to('xs') {
        flex-basis: calc(100% - 145px);
      }
    }
  }
  p {
    margin: 15px 0 0;
    flex-basis: 100%;
    color: #8c8c8c;
    font-style: italic;
    font-size: 14px;
    font-family: $RobotoCondensed;
  }
}

.gender {
  margin-bottom: 15px;
  @include clearfix;
  .label-block {
    width: 49%;
    float: right;
    background-color: #f9f9f9;
    &:first-of-type {
      float: left;
    }
  }
  .checkbox-custom-view {
    padding-left: 18px;
    color: #000;
    width: 100%;
    text-align: left;
    letter-spacing: 3px;
    font-size: 17px;
    text-transform: uppercase;
    @include BebasNeueRegular;
  }
  .checkbox-custom {
    + .checkbox-custom-view::before {
      margin: 1px 0 0 0;
      right: 0;
    }
    &:checked + .checkbox-custom-view {
      background-color: #000;
      color: #fff;
      &::before {
        background-color: #000;
      }
      &::after {
        left: auto;
        top: 11px;
        right: 12px;
        border-color: #fff;
      }
    }
  }
}
