.confirm_pay_wrap {
  .pay_securely_wrap {
    padding-top: 20px;
    button {
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .button_info {
      font-size: 14px;
      color: #090909;
      display: block;
      text-align: center;
      font-family: $RobotoCondensed;
      font-weight: 300;
      font-style: italic;
    }
    .pay_securely_img {
      max-width: 465px;
      width: 100%;
      display: flex;
      margin: 25px auto;
    }
  }
}
