.confirm_pay_bg {
  width: 100%;
  height: 100%;
  background: #F5F5F5;
}

.pay-confirm {
  position: relative;

  &_wrap {
    width: 100%;
    padding: 0 14px 40px;
    position: relative;
    &:after {
      content: "";
      width: 11px;
      height: 100%;
      position: absolute;
      top: 13px;
      right: -11px;
      background: #EDEDED;
    }
    &:before {
      content: "";
      width: 100%;
      height: 12px;
      position: absolute;
      bottom: -12px;
      left: 11px;
      background: #EDEDED;
    }
    .checkbox-single {
      display: flex;
      justify-content: center;
      align-items: center;
      @include to('s') {
        padding: 0 10px;
      }
    }
  }

  &_title {
    margin-right: -14px;
    line-height: .9;
    margin-bottom: 10px;
    background: #F8F8F8;
    span {
      padding: 0 10px 0 5px;
      position: relative;
      letter-spacing: 3.5px;
      font-size: 17px;
      color: #090909;
      background-color: #fff;
      @include BebasNeueBold;
    }
  }

  &_select_type {
    margin-bottom: 25px;
  }
  &_discount {
    margin-bottom: 30px;
    .discount_item {
      height: 76px;
      border-top: 1px solid #EDEDED;
      border-bottom: 1px solid #EDEDED;
      display: flex;
      align-items: center;
      & > div {
        position: relative;
        height: 100%;
        @include from('s') {
          &:after {
            content: "";
            width: 1px;
            height: calc(100% - 24px);
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            background: #EDEDED;
            position: absolute;
          }
          &:last-child:after {
            display: none;
          }
        }
      }
      .discount_code {
        padding-right: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include from('s') {
          max-width: 525px;
          width: 100%;
          padding-left: 21px;
          padding-right: 27px;
        }
        .discount_code_img {
          display: flex;
          align-items: center;
          height: 100%;
          img {
            display: block;
            margin-right: 20px;
          }
          span {
            font-size: 14px;
            line-height: 17px;
            @include MinionProRegular;
            text-transform: uppercase;
          }
        }
        input {
          height: 35px;
          background: #F9F9F9;
          padding-left: 16px;
          border: 0;
          font-size: 13px;
          font-family: $RobotoCondensed;
          color: #767676;
          text-transform: none;
          outline: none;
          @include from('s') {
            width: 235px;
          }
        }
      }
      .discount_price {
        max-width: 95px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        font-family: $RobotoCondensed;
      }
      .discount_check {
        max-width: 75px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  &_select_payment {
    .select_payment_item {
      height: 52px;
      border-bottom: 1px solid #EDEDED;
      display: flex;
      align-items: center;
      position: relative;
      &:nth-child(2) {
        border-top: 1px solid #EDEDED;
      }
      & > div {
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        &:after {
          content: "";
          width: 1px;
          height: calc(100% - 24px);
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          background: #EDEDED;
          position: absolute;
        }
        &:last-child {
          &:after {
            display: none;
          }
        }
      }
      .select_payment_img {
        max-width: 96px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .select_payment_name {
        max-width: 524px;
        width: 100%;
        padding-left: 28px;
        font-size: 15px;
        letter-spacing: 3px;
      }
      .select_payment_radio {
        max-width: 75px;
        width: 100%;
      }
    }
  }
}

.pay_securely_wrap {
  padding-top: 42px;
  overflow: hidden;
  .button {
    margin: 15px auto;
    display: block;
  }
  .pay_securely_img {
    max-width: 465px;
    width: 100%;
    display: flex;
    margin: 25px auto;
  }

  .pay_securely {
    text-align: center;
    display: block;
    font-size: 14px;
    font-family: $RobotoCondensed;
    margin-top: 55px;
  }
}

.total_cost_wrap {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include to('s') {
    flex-direction: column;
  }
  ul {
    width: 100%;
    padding-left: 0;
    margin-bottom: 0;
    position: relative;
    @include from('m') {
      max-width: 464px;
    }
    &:after {
      content: "";
      background: #000;
      display: block;
      @include from('m') {
        width: 1px;
        height: 103%;
        position: absolute;
        top: 0;
        right: 0;
      }
      @include to('s') {
        margin: 20px 0;
        width: 100%;
        height: 1px;
      }
    }
    li {
      list-style: none;
      font-size: 14px;
      letter-spacing: 2.8px;
      text-align: right;
      margin-bottom: 8px;
      font-size: 14px;
      @include BebasNeueRegular;
      &:last-child {
        margin-bottom: 0;
      }
      span {
        width: 112px;
        display: block;
        float: right;
        text-align: left;
        padding: 0 10px;
        font-size: 17px;
        line-height: 17px;
        font-weight: 700;
        font-family: $RobotoCondensed;
      }
      .disc_code {
        color: #f00;
      }
    }
  }
  .total_cost {
    font-size: 21px;
    font-weight: 700;
    font-family: $RobotoCondensed;
    @include from('m') {
      line-height: 34px;
      padding-left: 22px;
      width: calc(100% - 464px);
      span {
        display: block;
      }
    }
  }
}

.select_address {
  margin-bottom: 22px;
  .select_address_rname {
    flex-grow: 1;
    text-align: left;
    padding-left: 140px;
    letter-spacing: 1px;
  }
  .select_address_edit {
    max-width: 75px;
    width: 100%;
    letter-spacing: 1px;
  }
  .select_address_h {
    height: 24px;
    line-height: 1px;
    background: #D9D9D9;
    border-bottom: 1px solid #EDEDED;
    color: #fff;
    font-size: 10px;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .select_address_item {
    height: 74px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #EDEDED;
    & > div {
      position: relative;
      display: flex;
      align-items: center;
      height: 100%;
      &:first-child {
        &:after {
          content: "";
          width: 1px;
          height: calc(100% - 24px);
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          background: #EDEDED;
          position: absolute;
        }
      }
    }
    .select_address_rname {
      text-align: left;
      padding-left: 22px;
      font-size: 11px;
      letter-spacing: 1.1px;
    }
  }
}

.select_type_item {
  height: 50px;
  border-top: 1px solid #EDEDED;
  display: flex;
  align-items: center;
  & > div {
    float: left;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    @include from('s') {
      &:after {
        content: "";
        width: 1px;
        height: calc(100% - 24px);
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background: #EDEDED;
        position: absolute;
      }
    }
  }
  .select_type {
    margin-bottom: 0;
    font-size: 11px;
    letter-spacing: 1.1px;
    @include from('s') {
      flex-basis: 155px;
      padding-left: 35px;
      justify-content: center;
    }
  }
  .select_type_date {
    font-size: 10px;
    letter-spacing: 1px;
    flex-grow: 1;
    font-family: $RobotoCondensed;
    @include from('m') {
      padding-left: 50px;
    }
    @include to('s') {
      padding: 0 10px;
    }
  }
  .select_type_price {
    display: flex;
    justify-content: center;
    font-size: 13px;
    font-family: $RobotoCondensed;
    @include from('s') {
      flex-basis: 90px;
    }
  }
  .select_type_radio {
    @include from('s') {
      flex-basis: 75px;
    }
    &:after {
      display: none;
    }
  }
}

.select_type_total {
  height: 50px;
  border-top: 1px solid #EDEDED;
  background: #E4E4E4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 18px;
  padding-left: 8px;
  .delivery_info {
    width: 147px;
    height: 34px;
    background: #000;
    color: #fff;
    text-align: center;
    line-height: 34px;
    font-size: 13px;
    letter-spacing: 2.6px;
    display: block;
  }
  .delivery_charges {
    font-size: 14px;
    display: flex;
    align-items: center;
    line-height: 19px;
    letter-spacing: 2px;
    span {
      min-width: 57px;
      padding-left: 23px;
      display: block;
      float: right;
      font-size: 17px;
      font-family: $RobotoCondensed;
      line-height: 1;
    }
  }
}

.confirm_pay_wrap {
  .pay_securely_wrap {
    padding-top: 20px;
    button {
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .button_info {
      font-size: 14px;
      color: #090909;
      display: block;
      text-align: center;
      font-weight: 300;
      font-style: italic;
      font-family: $RobotoCondensed;
    }
    .pay_securely_img {
      max-width: 465px;
      width: 100%;
      display: flex;
      margin: 25px auto;
    }
  }
}
