.pay-confirm {
  width: 724px;
  .wrap {
    padding-top: 44px;
    background-color: #fff;
  }
  .login-title {
    margin: 0 0 35px;
    span {
      padding: 3px 11px 0 13px;
    }
  }
  &-group {
    .title {
      margin-bottom: 10px;
      font-size: 17px;
      letter-spacing: 3.5px;
      line-height: .7;
      background-color: #f8f8f8;
      @include BebasNeueBold;
      span {
        padding: 0 8px 0 18px;
        background-color: #fff;
      }
    }
  }
  .table {
    width: 100%;
    &-thead {

    }
    &-tr {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    &-th {
      padding: 5px;
      color: #fff;
      line-height: 1;
      font-size: 10px;
      text-align: center;
      @include BebasNeueRegular;
      &:first-of-type {
      }
      &:nth-of-type(2) {
        width: 155px;
      }
      &:nth-of-type(3) {
        width: 95px;
      }
      &:last-of-type {
        width: 75px;
      }
    }
  }
  &-table {
    margin: 36px 0;
    padding: 16px 28px;
    list-style: none;
    text-align: center;
    background-color: #fff;
    .line {
      ul {
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
        &:not(:last-of-type) {
          border-bottom: 1px solid #e3e3e3;
        }
        li {
          &:not(:last-of-type) {
            border-right: 1px solid #e3e3e3;
          }
          &:nth-child(2) {
            flex-basis: 155px;
          }
          &:nth-child(3) {
            flex-basis: 95px;
          }
          &:last-child {
            flex-basis: 75px;
          }
        }
      }
      .head {
        margin-bottom: 5px;
        background-color: #d9d9d9;
        padding: 0 0 4px;
        font-size: 10px;
        @include BebasNeueRegular;
        li {
          padding: 5px;
          color: #fff;
          line-height: 1;
          font-size: 10px;
          text-align: center;
        }
      }
      .info {
        padding: 8px 0 8px;
        height: 100%;
        font-size: 9px;
        font-weight: 300;
        font-family: $RobotoCondensed;
        li {
          height: 100%;
          &:not(:last-of-type) {
            height: 55px;
            line-height: 54px;
            margin-top: 5px;
          }
          &:first-of-type {
            text-align: left;
            padding-left: 10px;
          }
          &:last-child {
            flex-basis: 513px;
            text-align: left;
            img {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
}
