.profile {
  &-area {
    width: 1055px;
    margin: 0 auto;
    padding-top: 35px;
  }
  &-menu {
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 5;
    background-color: #fff;
    .main-menu {
      height: 44px;
      margin-bottom: 0;
      text-align: right;
      font-size: 16px;
      @include BebasNeueRegular;
      li {
        margin: 0 40px 0 0;
        letter-spacing: 3.2px;
        &:last-child {
          margin-right: 25px;
        }
      }
    }
    &-currency {
      width: 66px;
      height: 44px;
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        height: 100%;
        line-height: 42px;
        text-align: center;
        font-size: 17px;
        color: #fff;
        background-color: #000;
        cursor: pointer;
        transition: .4s ease-in-out;
        @include BebasNeueRegular;
        &:not(:first-of-type) {
          height: auto;
          padding: 6px 0 9px;
          line-height: 1;
          visibility: hidden;
          opacity: 0;
          background-color: #2c2c2c;
          span {
            padding-right: 10px;
          }
        }
        &:last-of-type {
          padding-bottom: 14px;
        }
        &:hover {
          background-color: #000;
        }
      }
      &:hover {
        outline: 1px solid #000;
        outline-offset: -1px;
        li {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
  &-favorites {
    margin-top: 35px;
    background-color: #fff;
    .filter-group {
      float: left;
      margin-right: 40px;
    }
    .catalog {
      padding-top: 25px;
    }
    .catalog-item {
      width: 203px;
    }
  }
  &-history {
    margin: 36px 0;
    padding: 16px 28px;
    list-style: none;
    text-align: center;
    background-color: #fff;
    &-line {
      ul {
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
        &:not(:last-of-type) {
          border-bottom: 1px solid #e3e3e3;
        }
        li {
          &:not(:last-of-type) {
            border-right: 1px solid #e3e3e3;
          }
          &:first-of-type {
            flex-basis: 104px;
          }
          &:nth-child(2) {
            flex-basis: 142px;
          }
          &:nth-child(3) {
            flex-basis: 112px;
          }
          &:nth-child(4) {
            flex-basis: 134px;
            span {
              border-bottom: 1px solid;
            }
          }
          &:last-child {
            flex-basis: 513px;
          }
        }
      }
      .head {
        padding: 0 0 4px;
        letter-spacing: 2px;
        font-size: 10px;
        @include BebasNeueRegular;
        li {
          height: 19px;
          line-height: 19px;
        }
      }
      .info {
        padding: 8px 0 8px;
        height: 100%;
        font-size: 9px;
        font-weight: 300;
        font-family: $RobotoCondensed;
        li {
          height: 100%;
          &:not(:last-of-type) {
            height: 55px;
            line-height: 54px;
            margin-top: 5px;
          }
          &:first-of-type {
            text-align: left;
            padding-left: 10px;
          }
          &:last-child {
            flex-basis: 513px;
            text-align: left;
            img {
              margin-left: 10px;
            }
          }
        }
      }

    }
  }
}
.history-open-details {
  .close-box {
    width: 32px;
    height: 32px;
    top: -43px;
    text-align: center;
    svg {
      width: 18px;
      margin-top: 7px;
    }
  }
  .bag-icon {
    width: 48px;
    margin-right: 32px;
    display: inline-block;
    vertical-align: middle;
  }
  .title {
    display: inline-block;
    vertical-align: middle;
    font-size: 32px;
    letter-spacing: 2px;
    span {
      color: #f00;
    }
  }
  .catalog-item {
      width: 200px;
  }
  .modal {
    background-color: rgba(255, 255, 255, .93);
    &-dialog {
      width: 1215px;
      padding: 40px 47px 0;
      background-color: #fff;
      box-shadow: 10px 10px 0 0 rgba(0, 0, 0, .03);
    }
    &-header {
      margin-bottom: 34px;
    }
    &-content {
      border: 0;
      border-radius: 0;
      box-shadow: none;
    }
  }
}
