input[type="checkbox"] + label,
input[type="radio"] + label {
  width: 28px;
  height: 28px;
  background: #F9F9F9;
  display: block;
  cursor: pointer;
}

input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label {
  background: #F9F9F9 url("../img/osp_checked.png") no-repeat center
}

.login-body {
  background: #F5F5F5;
}

.profil_main_title {
  overflow: hidden;
  margin-right: -14px;
  line-height: 1;
  margin-bottom: 26px;
  display: flex;
  span {
    position: relative;
    letter-spacing: 3.4px;
    font-size: 20px;
    color: #090909;
    font-weight: 700;
    &:after {
      content: "";
      width: 1000px;
      height: 12px;
      background: #F8F8F8;
      position: absolute;
      top: 50%;
      left: 100%;
      transform: translate(12px, -50%)
    }
  }
}

.select_address {
  margin: 36px 0;
  padding: 16px 28px;
  list-style: none;
  text-align: center;
  background-color: #fff;
  overflow: hidden;
  .select_address_rname {
    max-width: 911px;
    width: 100%;
    text-align: left;
    padding-left: 140px;
    font-size: 12px;
    letter-spacing: 1.2px;
  }
  .select_address_edit {
    max-width: 75px;
    width: 100%;
  }
  .select_address_h {
    height: 24px;
    line-height: 1px;
    background: #D9D9D9;
    border-bottom: 1px solid #EDEDED;
    color: #fff;
    font-size: 10px;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .select_address_item {
    height: 74px;
    display: flex;
    border-bottom: 1px solid #EDEDED;
    &:nth-last-child(2) {
      border-bottom: 0;
    }
    &:first-child {
      border-bottom: 1px solid #EDEDED !important;
    }
    & > div {
      position: relative;
      display: flex;
      align-items: center;
      height: 100%;
      &:first-child {
        &:after {
          content: "";
          width: 1px;
          height: calc(100% - 24px);
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          background: #EDEDED;
          position: absolute;
        }
      }
    }
    .select_address_rname {
      text-align: left;
      padding-left: 25px;
      font-size: 11px;
      letter-spacing: 1.1px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 30px;
      button {
        max-width: 61px;
        width: 100%;
        height: 28px;
        background: #000;
        color: #fff;
        border: 0;
        font-size: 11px;
        cursor: pointer;
        letter-spacing: 2.2px;
      }
    }
    .select_address_edit {
      display: flex;
      justify-content: center;
    }
  }
  .select_address_add {
    max-width: 114px;
    width: 100%;
    height: 28px;
    float: left;
    background: #000;
    color: #fff;
    border: 0;
    font-size: 11px;
    line-height: 2.2px;
    cursor: pointer;
    letter-spacing: 2.2px;
  }
}

.profile-history-line {
  border-bottom: 1px solid #E4E4E4;
  &:last-child {
    border-bottom: 0;
  }
}

.profile_box {
  background: #fff;
  margin-top: 36px;
  margin-bottom: 32px;
  display: flex;
  .profile_box_avatar {
    width: 204px;
    height: 191px;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .profile_box_info_wrap {
    width: calc(100% - 204px);
    padding-left: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .login-area {
      margin: 0;
      margin-top: 50px;
      padding-left: 25px;
      width: 747px;
      padding-bottom: 50px;
      .login-area-body {
        box-shadow: none !important;
      }
      .returns-form-group legend {
        text-align: left;
      }
      .gender .label-block {
        width: calc(50% - 14px);
      }
      .button {
        max-width: 239px;
        width: 100%;
        height: 34px;
        line-height: 34px;
        font-size: 15px;
        padding: 0;
        margin-top: 40px;
      }
    }
    .profile_box_info {
      font-size: 18px;
      line-height: 29px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .profile_subscribe {
        display: flex;
        margin-top: 30px;
        span {
          float: left;
          font-size: 14px;
          color: #b4b4b4;
          display: block;
          margin-left: 17px;
          font-family: $RobotoCondensed;
          font-weight: 300;
          font-style: italic;
        }
      }
    }
    .profile_edit {
      max-width: 61px;
      width: 100%;
      height: 28px;
      background: #000;
      color: #fff;
      border: 0;
      font-size: 11px;
      cursor: pointer;
      margin-right: 150px;
      letter-spacing: 2.2px;
    }
  }
}

.discount_voucher {
  position: relative;
  background: #fff;
  padding: 16px 28px;
  .d_v_row {
    height: 80px;
    background: #fff;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 23px;
    border-bottom: 1px solid #E4E4E4;
    &:last-child {
      margin-bottom: 0;
      border-bottom: 0;
    }
    .d_v_row_img {
      margin-left: 17px;
      display: flex;
      align-items: center;
      position: relative;
      max-width: 106px;
      width: 100%;
      &:after {
        content: "";
        width: 1px;
        height: 43px;
        background: #E4E4E4;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        position: absolute;
      }
      img {
        width: 39px;
        margin-right: 20px;
        display: block;
        float: left;
      }
      span {
        float: left;
        font-size: 14px;
        line-height: 17px;
        @include MinionProRegular;
        text-transform: uppercase;
      }
      .gift_voucher {
        margin-left: 26px;
        position: relative;
        &:after {
          content: "";
          width: 1px;
          height: 42px;
          background: #000000;
          position: absolute;
          top: -5px;
          left: -13px;
        }
      }
    }
    .select_d_v {
      margin-right: 22px;
      float: right;
      display: flex;
      width: 100%;
      height: 100%;
      padding: 22px;
      justify-content: space-between;
      & > div {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .from {
        font-size: 13px;
        color: #bababa;
        font-family: $RobotoCondensed;
        span {
          color: #000;
          margin-left: 7px;
        }
      }
      .left {
        font-size: 13px;
        color: #bababa;
        font-family: $RobotoCondensed;
        span {
          font-size: 16px;
          color: #f00;
          padding-left: 27px;
          text-align: left;
        }
      }
    }
  }
}

//.register .general-form,
//.tab-pane .general-form {
//  margin-top: 0;
//  padding: 0;
//}
