.profile {
  &-area {
    max-width: 1055px;
    width: 100%;
    margin: 0 auto;
    padding-top: 35px;
  }

  &-block {
    position: relative;
    background: #fff;
    padding: 16px 28px;
    margin-bottom: 36px;
    @include to('s') {
      padding-left: 10px;
      padding-right: 10px;
    }
    &__title {
      overflow: hidden;
      margin-right: -14px;
      line-height: 1;
      margin-bottom: 26px;
      display: flex;
      .text {
        position: relative;
        letter-spacing: 3.4px;
        font-size: 20px;
        color: #090909;
        @include BebasNeueBold;
        &:after {
          content: "";
          width: 1000px;
          height: 12px;
          background: #F8F8F8;
          position: absolute;
          top: 50%;
          left: 100%;
          transform: translate(12px, -50%)
        }

      }
    }

    &__item {
      padding: 10px 0;
      display: flex;
      align-items: center;
      &:not(:last-of-type) {
        border-bottom: 1px solid #EDEDED;
      }
      .info {
        padding-right: 10px;
        text-align: left;
        font-size: 11px;
        letter-spacing: 1.1px;
        flex-grow: 1;
        @include from('m') {
          padding-left: 25px;
        }
      }
    }

    .checkbox-single {
      margin-left: 30px;
      padding: 10px 30px;
      border-left: 1px solid #ededed;
      @include to('s') {
        margin-left: 15px;
        padding-left: 15px;
        padding-right: 0;
      }
    }
  }

  &-nav {
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 5;
    background-color: #fff;
    &-menu {
      height: 44px;
      margin-bottom: 0;
      padding: 0;
      font-size: 16px;
      text-align: right;
      list-style: none;
      display: flex;;
      @include BebasNeueRegular;
      @include to('s') {
        flex-grow: 1;
        padding-left: 20px;
      }
      @include from('m') {
        flex-wrap: wrap;
        justify-content: center;
      }
      li {
        letter-spacing: 3.2px;
        &:last-child {
          margin-right: 25px;
        }
        @include from('m') {
          margin-right: 40px;
        }
        @include to('s') {
          &:not(.active) {
            display: none;
          }
          .active {
            font-size: 16px;
          }
        }
      }
      a {
        padding-top: 11px;
        padding-bottom: 10px;
        display: block;
        transition: .4s ease-in-out;
        @include from('m') {
          padding-top: 8px;
          border-top: 3px solid transparent;
        }
      }
      .active a,
      a:hover {
        border-top-color: #000;
      }

      &__icon-menu {
        @include from('m') {
          display: none;
        }
        &::after {
          background: #000;
          width: 20px;
          height: 2px;
          display: block;
          margin: 20px 0 0 18px;
          box-shadow: 0 6px 0 0 #000, 0 -6px 0 0 #000;
          content: '';
        }
      }
      &.profile-nav-menu__open {
        flex-direction: column;
        align-items: flex-start;
        background-color: #fff;
        height: 100%;
        li {
          display: block;
        }
      }
    }

    &-currency {
      width: 66px;
      height: 44px;
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        height: 100%;
        line-height: 42px;
        text-align: center;
        font-size: 17px;
        color: #fff;
        background-color: #000;
        cursor: pointer;
        transition: .4s ease-in-out;
        @include BebasNeueRegular;
        &:not(:first-of-type) {
          height: auto;
          padding: 6px 0 9px;
          line-height: 1;
          visibility: hidden;
          opacity: 0;
          background-color: #2c2c2c;
          span {
            padding-right: 10px;
          }
        }
        &:last-of-type {
          padding-bottom: 14px;
        }
        &:hover {
          background-color: #000;
        }
      }
      &:hover {
        outline: 1px solid #000;
        outline-offset: -1px;
        li {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  &-favorites {
    margin-top: 35px;
    background-color: #fff;
    .filter-group {
      float: left;
      margin-right: 40px;
      position: relative;
    }
    .catalog {
      padding-top: 25px;
    }
    .catalog-item {
      width: 203px;
    }
  }

  &-history {
    padding: 15px 0;
    margin: 35px 0;
    list-style: none;
    text-align: center;
    background-color: #fff;
    &-line {
      ul {
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
        &:not(:last-of-type) {
          border-bottom: 1px solid #e3e3e3;
        }
        li {
          @include to('s') {
            padding: 3px;
          }
          @include from('m') {
            flex-basis: 11%;
          }
          &:not(:last-of-type) {
            border-right: 1px solid #e3e3e3;
          }
          &:nth-child(4) {
            span {
              border-bottom: 1px solid;
            }
          }
          &:last-child {
            flex-grow: 1;
            img {
              @include to('m') {
                &:not(:first-of-type) {
                  display: none;
                }
              }
            }
          }
        }
      }
      .head {
        padding: 5px 0;
        letter-spacing: 2px;
        font-size: 10px;
        @include BebasNeueRegular;
        li {
          height: 19px;
          line-height: 19px;
        }
      }
      .info {
        padding: 8px 0 8px;
        height: 100%;
        font-size: 9px;
        font-weight: 300;
        font-family: $RobotoCondensed;
        li {
          height: 100%;
          &:not(:last-of-type) {
            height: 55px;
            line-height: 54px;
            margin-top: 5px;
          }
          &:first-of-type {
            text-align: left;
            @include from('l') {
              padding-left: 10px;
            }
          }
          &:last-child {
            flex-grow: 1;
            text-align: left;
            img {
              margin-left: 10px;
            }
          }
        }
      }

    }
  }

  &-address {
    list-style: none;
    overflow: hidden;
    .profile-block__title {
      margin-bottom: 0;
    }
  }

  &-voucher {
    .gift {
      padding: 0 10px;
      margin-right: 10px;
      border-right: 1px solid #ededed;
      img {
        max-width: 40px;
        margin-right: 20px;
        @include to('s') {
          max-width: 25px;
          margin-right: 5px;
        }
      }
      span {
        @include MinionProRegular;
      }
    }
    .info {
      font-family: $RobotoCondensed;
      font-weight: 400;
      font-size: 13px;
      letter-spacing: 0;
    }
    .assign {
      padding-right: 5px;
      color: #bababa;
    }
    .left {
      color: #767676;
      font-weight: 400;
      font-family: $RobotoCondensed;
      font-size: 13px;
      @include to('s') {
        text-align: center;
      }
    }
    .amount {
      color: #ff0000;
      font-size: 16px;
      padding: 0 35px 0 25px;
      @include to('s') {
        display: block;
        padding: 0;
        white-space: nowrap;
      }
    }
  }
}

.ask-question {
  margin: 36px 0 0;
  padding: 50px 75px;
  background-color: #fff;
  &-form {
    padding-right: 27px;
    margin-bottom: 25px;
    display: flex;
    position: relative;
    .avatar {
      width: 118px;
    }
    .form-group {
      flex-basis: calc(100% - 118px);
      textarea {
        height: 117px;
        padding: 6px 31px;
        border: 0;
        background-color: #f7f7f7;
      }
    }
    .button-send {
      position: absolute;
      top: 42px;
      right: 61px;
      @include BebasNeueRegular;
    }
  }
  .question {
    margin: 0 0 35px;
    padding: 0;
    list-style: none;
    .comment {
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      color: #000;
      &:not(.admin) {
        color: #919191;
      }
      &:not(:last-of-type) {
        .message {
          border-bottom: 1px solid #e9e9e9;
        }
      }
    }
    .avatar {
      width: 118px;
      text-align: center;
      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }
    }
    .message {
      padding-right: 14px;
      letter-spacing: -0.2px;
      flex-basis: calc(100% - 118px);
      padding-bottom: 20px;
      font-size: 14px;
      font-style: italic;
      font-family: $RobotoCondensed;
    }
  }
  .load-more {
    text-align: center;
    cursor: pointer;
    span {
      border-bottom: 1px solid;
      letter-spacing: 2px;
      font-size: 18px;
      @include BebasNeueBold;
    }
    &:hover span {
      border-bottom-color: transparent;
    }
  }
}

.login-body {
  background: #F5F5F5;
}

.profile-history-line {
  border-bottom: 1px solid #E4E4E4;
  &:last-child {
    border-bottom: 0;
  }
}

.profile-box {
  background: #fff;
  margin-top: 36px;
  margin-bottom: 32px;
  display: flex;
  position: relative;
  @include to('s'){
    flex-wrap: wrap;
  }
  &-avatar {
    width: 115px;
    height: 115px;
    @include from('m') {
      width: 204px;
      height: 191px;
    }
  }
  &-user {
    padding: 20px 25px 0;
    flex-grow: 1;
    @include to('s') {
      flex-basis: calc(100% - 115px);
      padding: 10px 10px 0;
    }
    .line {
      font-size: 18px;
      margin-bottom: 10px;
    }
    .label-block {
      margin-top: 20px;
      font-size: 14px;
      font-style: italic;
      @include to('s') {
        .checkbox-custom-view {
          line-height: 18px;
          height: 37px;
          display: flex;
          align-items: center;
        }
      }
      .checkbox-custom + .checkbox-custom-view::before {
        width: 30px;
        height: 30px;
        margin-top: 0;
      }
    }
  }
  .button-edit {
    margin-right: 150px;
    align-self: center;
    @include to('s') {
      position: absolute;
      bottom: 15px;
      left: 30px;
      margin-bottom: 0;
    }
  }

  .general-form {
    padding: 50px;
    flex-grow: 1;
    @include to('s') {
      padding: 5px;
    }
  }
  .returns-form-group legend {
    @include from('s') {
      text-align: left;
    }
  }
}
